<!-- ======================== About Section Start ========================== -->
<section class="about padding-y-120">
    <div class="container container-two">
        <div class="row gy-4 align-items-center">
            <div class="col-lg-6">
                <div class="about-thumb">
                    <img src="assets/images/thumbs/about-img.png" alt="">
                    <div class="client-statistics flx-align">
                        <span class="client-statistics__icon">
                            <i class="fas fa-users text-gradient"></i>
                        </span>
                        <div class="client-statistics__content">
                            <h5 class="client-statistics__number statisticsCounter">4,000+</h5>
                            <span class="client-statistics__text fs-18">Satisfied Clients</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-heading style-left">
                        <span class="section-heading__subtitle"> <span class="text-gradient fw-semibold">About Us</span> </span>
                        <h2 class="section-heading__title">Stay with us feel at home Your perfect stay awaits</h2>
                        <p class="section-heading__desc">Real Estate is a vast industry that deals with the buying, selling, and renting of properties. It inv transactions related to residential</p>
                    </div>
                    <div class="about-box d-flex">
                        <div class="about-box__icon">
                            <img src="assets/images/icons/about-icon.svg" alt="">
                        </div>
                        <div class="about-box__content">
                            <h6 class="about-box__title">Your Dream Home Awaits</h6>
                            <p class="about-box__desc font-13">Real Estate is a vast industry that deals with the buying, selling, and renting of properties. It inv transactions related to residential, commercial, and industrial properties</p>
                        </div>
                    </div>
                    <div class="about-button">
                        <a href="#" class="btn btn-main">Learn More <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== About Section End ========================== -->