<!-- ======================= About five Start ========================= -->
<section class="about-five padding-y-120">
    <div class="container container-two">
        <div class="row flex-wrap-reverse">
            <div class="col-lg-5 col-md-6">
                <div class="about-five__thumbs">
                    <div class="row gy-4">
                        <div class="col-sm-6 col-6">
                            <div class="about-five__thumb one h-100 d-flex">
                                <img src="assets/images/thumbs/about-five-img1.png" alt="Image">
                            </div>
                        </div>
                        <div class="col-sm-6 col-6">
                            <div class="about-five__thumb two">
                                <img src="assets/images/thumbs/about-five-img2.png" alt="Image">
                            </div>
                            <div class="about-five__thumb three">
                                <img src="assets/images/thumbs/about-five-img3.png" alt="Image">
                            </div>
                        </div>
                    </div>
                    <div class="about-five__content d-inline-flex align-items-center">
                        <span class="about-five__icon"><i class="fas fa-users"></i></span>
                        <div class="about-five__texts">
                            <h5 class="about-five__amount mb-0 text-white">25K+</h5>
                            <span class="about-five__text text-white font-18">Services We Provide</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 ps-xl-5">
                <div class="about-contents">
                    <div class="section-heading style-left">
                        <span class="section-heading__subtitle"> <span class="text-gradient fw-semibold">About Us</span> </span>
                        <h2 class="section-heading__title">Unlocking the door to your a the new home</h2>

                        <ul class="check-list mt-4 mt-lg-5">
                            <li class="check-list__item d-flex align-items-center">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                <span class="text text-body fw-normal font-16">Prestige Property Management Your Dream Home Awaits </span>
                            </li>
                            <li class="check-list__item d-flex align-items-center">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                <span class="text text-body fw-normal font-16"> Real Estate is a vast industry that deals with the buying, selling</span>
                            </li>
                        </ul>
                        
                        <p class="section-heading__desc">Real Estate is a vast industry that deals with the buying, selling, and renting of properties. It involves transactions related to residential</p>

                        <div class="mt-4">
                            <a href="#" class="simple-btn text-heading fw-semibold">Read More 
                                <span class="icon-right text-gradient"> <i class="fas fa-arrow-right"></i></span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= About five End ========================= -->