<!-- ================================= Amenity Section Start ============================= -->
<section class="amenity padding-y-120 bg-white">
    <div class="container">
        <div class="section-heading">
            <span class="section-heading__subtitle bg-white"> <span class="text-gradient fw-semibold">Amenities</span> </span>
            <h2 class="section-heading__title">Facilities that you will get </h2>
        </div>
        <div class="amenity-item-wrapper">

            <div class="amenity-item">
                <span class="amenity-item__icon"> <i class="text-gradient fas fa-car"></i>  </span>
                <h6 class="amenity-item__title fw-600 mt-4 mb-0"> Car Parking</h6>
            </div>
            <div class="amenity-item">
                <span class="amenity-item__icon"> <i class="text-gradient fas fa-utensils"></i></span>
                <h6 class="amenity-item__title fw-600 mt-4 mb-0"> Restaurant </h6>
            </div>
            <div class="amenity-item">
                <span class="amenity-item__icon"><i class="text-gradient fas fa-swimming-pool"></i></span>
                <h6 class="amenity-item__title fw-600 mt-4 mb-0"> Swimming Pull</h6>
            </div>
            <div class="amenity-item">
                <span class="amenity-item__icon"><i class="text-gradient fas fa-paw"></i></span>
                <h6 class="amenity-item__title fw-600 mt-4 mb-0"> Pet Friendly </h6>
            </div>
            <div class="amenity-item">
                <span class="amenity-item__icon"><i class="text-gradient fas fa-shield-alt"></i></span>
                <h6 class="amenity-item__title fw-600 mt-4 mb-0"> Security Privacy</h6>
            </div>
            <div class="amenity-item">
                <span class="amenity-item__icon"><i class="text-gradient fas fa-bed"></i></span>
                <h6 class="amenity-item__title fw-600 mt-4 mb-0"> extra large bed</h6>
            </div>
            <div class="amenity-item">
                <span class="amenity-item__icon"><i class="text-gradient fas fa-home"></i></span>
                <h6 class="amenity-item__title fw-600 mt-4 mb-0">Smart Home</h6>
            </div>
            <div class="amenity-item">
                <span class="amenity-item__icon"><i class="text-gradient fas fa-dumbbell"></i></span>
                <h6 class="amenity-item__title fw-600 mt-4 mb-0">Fitness</h6>
            </div>
            <div class="amenity-item">
                <span class="amenity-item__icon"><i class="text-gradient fas fa-wheelchair"></i></span>
                <h6 class="amenity-item__title fw-600 mt-4 mb-0">Disabled Room</h6>
            </div>
            <div class="amenity-item">
                <span class="amenity-item__icon"><i class="text-gradient fas fa-bath"></i></span>
                <h6 class="amenity-item__title fw-600 mt-4 mb-0"> Bath</h6>
            </div>

        </div>
    </div>
</section>
<!-- ================================= Amenity Section End ============================= -->

