<!-- ========================== Apartment Section Start ===================== -->
<section class="apartment section-bg-dark padding-y-120">
    <div class="container container-two">
        <div class="section-heading style-left style-flex">
            <div class="section-heading__inner">
                <span class="section-heading__subtitle bg-transparent"> <span class="text-gradient fw-semibold">Available Apartments</span> </span>
                <h2 class="section-heading__title">Unlocking the door to your a the new home</h2>
            </div>
            <p class="section-heading__desc">Real estate is a lucrative industry that involves the buying selling and renting of properties. It encompasses residential commercial </p>
        </div>

        <div class="table-card table-responsive">
            <table class="table common-table">
                <thead>
                  <tr>
                    <th>Floor No.</th>
                    <th>Bathroom</th>
                    <th>Rooms</th>
                    <th>Total Area SQ.M</th>
                    <th>Pricing</th>
                    <th> <span class="d-none">Action</span> </th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1st</td>
                        <td>02</td>
                        <td>04</td>
                        <td>2000</td>
                        <td>$1200</td>
                        <td>
                            <a href="#" class="simple-btn text-gradient fw-semibold font-14">More About 
                                <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> 
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>3rd</td>
                        <td>05</td>
                        <td>05</td>
                        <td>1200</td>
                        <td>$3600</td>
                        <td>
                            <a href="#" class="simple-btn text-gradient fw-semibold font-14">More About 
                                <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> 
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>5th</td>
                        <td>02</td>
                        <td>02</td>
                        <td>1400</td>
                        <td>$5200</td>
                        <td>
                            <a href="#" class="simple-btn text-gradient fw-semibold font-14">More About 
                                <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> 
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>7th</td>
                        <td>04</td>
                        <td>05</td>
                        <td>2000</td>
                        <td>$8200</td>
                        <td>
                            <a href="#" class="simple-btn text-gradient fw-semibold font-14">More About 
                                <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> 
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- ========================== Apartment Section End ===================== -->