<!-- ========================== Banner Five Start ========================= -->
<section class="banner-five banner bg-white">
    <div class="container container-two">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="banner-inner position-relative">
                    <div class="banner-content">
                        <span class="banner-content__subtitle text-uppercase font-14">FinTech Fusion</span>
                        <h1 class="banner-content__title">Beyond Walls We Build Dreams</h1>
                        <p class="banner-content__desc font-18">Unlock the Power of Real Estate Making Your Real Estate Dreams a Reality Real Estate here Unlock the Power of Real Estate</p>
                        <div class="banner-content__button">
                            <a href="#" class="btn btn-main fw-normal">Learn More
                                <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> 
                            </a>
                        </div>
                    </div>            
                </div>
            </div>
            <div class="col-lg-6 order-lg-0 order-1">
                <div class="banner-five__thumb">
                    <img src="assets/images/thumbs/banner-five-img.png" alt="">
                </div>  
            </div>
        </div>
    </div>
</section>
<!-- ========================== Banner Five End ========================= -->