<!-- ==================== Blog Three Start Here ==================== -->
<section class="blog padding-y-120">
    <div class="container container-two">

        <div class="section-heading">
            <div class="section-heading__inner">
                <span class="section-heading__subtitle bg-white"> 
                    <span class="text-gradient fw-semibold ">Latest blog and news</span>
                </span>
                <h2 class="section-heading__title">Investing in estate made lot easy</h2>
            </div>
        </div>

        <div class="row gy-4">

            @@include('../partials/_blog-three-item.html', {
                'title': 'Your journey to home ownership starts here', 
                'date': '23', 
                'imgPath': '1'
            })
            @@include('../partials/_blog-three-item.html', {
                'title': 'Your satisfaction is our top the best priority', 
                'date': '12', 
                'imgPath': '2'
            })
            @@include('../partials/_blog-three-item.html', {
                'title': 'Experience the best in real estate the  services', 
                'date': '30', 
                'imgPath': '3'
            })

        </div>
    </div>
</section>
<!-- ==================== Blog Three End Here ==================== -->