<div class="col-lg-4 col-sm-6">
    <div class="blog-item">
        <div class="blog-item__thumb">
            <a href="blog-details.html" class="blog-item__thumb-link">
                <img src="assets/images/thumbs/blog@@imgPath.png" class="cover-img" alt="">
            </a>
        </div>
        <div class="blog-item__inner">
            <span class="blog-item__date"> @@date <span class="text">Mar</span> </span>
            <div class="blog-item__content">
                <ul class="text-list flx-align">
                    <li class="font-12 flx-align gap-3"> 
                        <span class="icon"><i class="fas fa-user text-gradient"></i></span> 
                        <a href="#" class="link text-body">By admin</a>
                    </li>
                    <li class="font-12 flx-align gap-3"> 
                        <span class="icon"><i class="fas fa-comments text-gradient"></i></span>  
                        <a href="#" class="link text-body">Comments (05)</a>
                    </li>
                </ul>
                <h6 class="blog-item__title">
                    <a href="blog-details.html" class="blog-item__title-link border-effect"> @@title </a>
                </h6>
                <a href="#" class="simple-btn text-heading fw-semibold">Book Now 
                    <span class="icon-right text-gradient"> <i class="fas fa-plus"></i> </span>
                 </a>
            </div>
        </div>
    </div>
</div>