<div class="col-lg-4 col-sm-6">
    <div class="blog-item">
        <div class="blog-item__thumb">
            <a href="blog-details.html" class="blog-item__thumb-link">
                <img src="assets/images/thumbs/blog-two-@@imgPath.png" class="cover-img" alt="">
            </a>
            <span class="blog-item__date style-three font-20 end-0 left-auto top-0 bg-white"> 23  <span class="text-body d-block font-16 fw-light">Mar</span> </span>

        </div>
        <div class="blog-item__content bg-white border-0">
            <ul class="text-list border-0 p-0 flx-align">
                <li class="text-list__item font-16"> 
                    <span class="icon"><i class="fas fa-user"></i></span> 
                    <a href="#" class="link">By admin</a>
                </li>
                <li class="text-list__item font-16"> 
                    <span class="icon"><i class="fas fa-comments"></i></span>  
                    <a href="#" class="link">Comments (07)</a>
                </li>
            </ul>
            <h6 class="blog-item__title mb-4">
                <a href="blog-details.html" class="blog-item__title-link fw-500"> @@title </a>
            </h6>
            <p class="blog-item__title mb-0 font-18"> Real Estate is a vast industry that deals with the buying and selling.</p>

        </div>
    </div>
</div>
