<!-- ==================== Blog Start Here ==================== -->
<section class="blog padding-t-60 padding-b-120">
    <div class="container container-two">
        <div class="section-heading style-left style-flex flx-between align-items-end gap-3">
            <div class="section-heading__inner">
                <span class="section-heading__subtitle"> <span class="text-gradient fw-semibold">Latest Product</span> </span>
                <h2 class="section-heading__title">Prestige Propert Management  property for you</h2>
            </div>
            <a href="#" class="btn btn-outline-main">View More <span class="icon-right"> <i class="fas fa-plus"></i> </span> </a>
        </div>
        <div class="row gy-4">
            @@include('../partials/_blog-item.html', {
                'title': 'Discover Endless Possibilities in Real Estate Live Your Best Life in a New Home', 
                'date': '09', 
                'imgPath': '1'
            })
            @@include('../partials/_blog-item.html', {
                'title': 'Turn Your Real Estate Dreams Into Reality Embrace the Real Estate Lifestyle', 
                'date': '28', 
                'imgPath': '2'
            })
            @@include('../partials/_blog-item.html', {
                'title': 'Discover Endless Possibilities in Real Estate Live Your Best Life in a New Home', 
                'date': '16', 
                'imgPath': '3'
            })
        </div>
    </div>
</section>
<!-- ==================== Blog End Here ==================== -->