<div class="col-lg-4 col-sm-6">
    <div class="blog-item blog-dark">
        <div class="blog-item__thumb">
            <a href="blog-details.html" class="blog-item__thumb-link">
                <img src="assets/images/thumbs/blog-two-@@imgPath.png" class="cover-img" alt="">
            </a>
            <span class="blog-item__date"> @@date DEC </span>
        </div>
        <div class="blog-item__inner">
            <div class="blog-item__content">
                <ul class="text-list border-0 p-0 flx-align">
                    <li class="text-list__item font-12"> 
                        <span class="icon text-gradient"><i class="far fa-user"></i></span> 
                        <a href="#" class="link text-white fw-light">By admin</a>
                    </li>
                    <li class="text-list__item font-12"> 
                        <span class="icon text-gradient"><i class="far fa-comments"></i></span>  
                        <a href="#" class="link text-white fw-light">Comments (07)</a>
                    </li>
                </ul>
                <h6 class="blog-item__title">
                    <a href="blog-details.html" class="blog-item__title-link border-effect"> @@title </a>
                </h6>

                 <a href="blog-details.html" class="btn btn-outline-lightInDark text-white fw-normal">Read More 
                    <span class="icon-right icon"> 
                        <i class="fas fa-arrow-right"></i>
                     </span> 
                </a>
                 
            </div>
        </div>
    </div>
</div>
