<div class="chatbox">
    <div class="chatbox-sidebar">
        <div class="chatbox-sidebar__top">
            <form action="#" autocomplete="off">
                <div class="search-box search-box--sm w-100">
                    <input type="text" class="common-input" placeholder="Search here...">
                    <button type="submit" class="icon"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>          
        <div class="chatbox-sidebar__lists">
            <ul class="chat-list">
                <li class="chat-list__item">
                    <div class="chat-list__thumb active">
                        <img src="assets/images/thumbs/user-img1.png" alt="">
                    </div>
                    <div class="chat-list__content">
                        <h6 class="chat-list__name">Mehedi Hasan</h6>
                        <span class="chat-list__designation">Front End Developer</span>
                    </div>
                </li>
                <li class="chat-list__item">
                    <div class="chat-list__thumb inactive">
                        <img src="assets/images/thumbs/user-img2.png" alt="">
                    </div>
                    <div class="chat-list__content">
                        <h6 class="chat-list__name">Ryhan</h6>
                        <span class="chat-list__designation">Back End Developer</span>
                    </div>
                </li>
                <li class="chat-list__item">
                    <div class="chat-list__thumb active">
                        <img src="assets/images/thumbs/user-img3.png" alt="">
                    </div>
                    <div class="chat-list__content">
                        <h6 class="chat-list__name">Malek Hasan</h6>
                        <span class="chat-list__designation">Full Stack Developer</span>
                    </div>
                </li>
                <li class="chat-list__item">
                    <div class="chat-list__thumb inactive">
                        <img src="assets/images/thumbs/user-img3.png" alt="">
                    </div>
                    <div class="chat-list__content">
                        <h6 class="chat-list__name">Sadik hasan</h6>
                        <span class="chat-list__designation">UI Designer</span>
                    </div>
                </li>
                <li class="chat-list__item">
                    <div class="chat-list__thumb active">
                        <img src="assets/images/thumbs/user-img1.png" alt="">
                    </div>
                    <div class="chat-list__content">
                        <h6 class="chat-list__name">Mehedi Hasan</h6>
                        <span class="chat-list__designation">UX Designer</span>
                    </div>
                </li>
                <li class="chat-list__item">
                    <div class="chat-list__thumb inactive">
                        <img src="assets/images/thumbs/user-img2.png" alt="">
                    </div>
                    <div class="chat-list__content">
                        <h6 class="chat-list__name">Ryhan</h6>
                        <span class="chat-list__designation">Back End Developer</span>
                    </div>
                </li>
                <li class="chat-list__item">
                    <div class="chat-list__thumb active">
                        <img src="assets/images/thumbs/user-img3.png" alt="">
                    </div>
                    <div class="chat-list__content">
                        <h6 class="chat-list__name">Malek Hasan</h6>
                        <span class="chat-list__designation">Full Stack Developer</span>
                    </div>
                </li>
                <li class="chat-list__item">
                    <div class="chat-list__thumb inactive">
                        <img src="assets/images/thumbs/user-img3.png" alt="">
                    </div>
                    <div class="chat-list__content">
                        <h6 class="chat-list__name">Sadik hasan</h6>
                        <span class="chat-list__designation">UI Designer</span>
                    </div>
                </li>
                <li class="chat-list__item">
                    <div class="chat-list__thumb inactive">
                        <img src="assets/images/thumbs/user-img2.png" alt="">
                    </div>
                    <div class="chat-list__content">
                        <h6 class="chat-list__name">Ryhan</h6>
                        <span class="chat-list__designation">Back End Developer</span>
                    </div>
                </li>
                <li class="chat-list__item">
                    <div class="chat-list__thumb active">
                        <img src="assets/images/thumbs/user-img3.png" alt="">
                    </div>
                    <div class="chat-list__content">
                        <h6 class="chat-list__name">Malek Hasan</h6>
                        <span class="chat-list__designation">Full Stack Developer</span>
                    </div>
                </li>
                <li class="chat-list__item">
                    <div class="chat-list__thumb inactive">
                        <img src="assets/images/thumbs/user-img3.png" alt="">
                    </div>
                    <div class="chat-list__content">
                        <h6 class="chat-list__name">Sadik hasan</h6>
                        <span class="chat-list__designation">UI Designer</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="chatbox-body">
        <div class="chatbox-nav">
            <div class="chatbox-nav__left">
                <div class="chat-list__item">
                    <div class="chat-list__thumb active">
                        <img src="assets/images/thumbs/user-img1.png" alt="">
                    </div>
                    <div class="chat-list__content">
                        <h6 class="chat-list__name">Mehedi Hasan</h6>
                        <span class="chat-list__designation">Front End Developer</span>
                    </div>
                </div>
            </div>
            <div class="chatbox-nav__right">
                <div class="dropdown">
                    <button class="chatbox-nav__btn" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
            </div>
        </div>
        <div class="chatbox-chat">
            <ul class="message-list">
                <li class="message-list_item sender">
                    <p class="text">Hey, Are you there? </p>
                    <span class="time">10:06 am</span>
                </li>
                <li class="message-list_item reply">
                    <p class="text">Yes! I am here. </p>
                    <span class="time">10:06 am</span>
                </li>
                <li class="message-list_item sender">
                    <p class="text">Hey, Are you there? </p>
                    <span class="time">10:06 am</span>
                </li>
                <li class="message-list_item reply">
                    <p class="text">Yes! I am here. </p>
                    <span class="time">10:06 am</span>
                </li>
                <li class="message-list_item sender">
                    <p class="text">Hey, Are you there? </p>
                    <span class="time">10:06 am</span>
                </li>
                <li class="message-list_item reply">
                    <p class="text">Yes! I am here. </p>
                    <span class="time">10:06 am</span>
                </li>
                <li class="message-list_item sender">
                    <p class="text">Hey, Are you there? </p>
                    <span class="time">10:06 am</span>
                </li>
                <li class="message-list_item reply">
                    <p class="text">Yes! I am here. </p>
                    <span class="time">10:06 am</span>
                </li>
                <li class="message-list_item sender">
                    <p class="text">Hey, Are you there? </p>
                    <span class="time">10:06 am</span>
                </li>
            </ul>
        </div>
        <div class="chatbox-bottom">
            <div class="send-message d-flex align-items-center gap-sm-3 gap-2">
                <input type="text" class="common-input common-input--sm flex-grow-1" placeholder="Write Message">
                <button type="submit" class="btn btn-main btn-sm flex-shrink-0"> <i class="fa fa-paper-plane"></i> <span class="text">Send</span> </button>
            </div>
        </div>
    </div>
</div>