<!-- ============================= Counter Section Start ======================= -->
<section class="counter padding-y-120">
    <div class="container">
        <div class="row gy-4">
            @@include('../partials/_counter-item.html', {
                'number': "200",
                'text': 'HAPPY PATIENTS'
            })
            @@include('../partials/_counter-item.html', {
                'number': "20",
                'text': 'SAVED HEARTS'
            })
            @@include('../partials/_counter-item.html', {
                'number': "10k",
                'text': 'EXPERT DOCTORS'
            })
            @@include('../partials/_counter-item.html', {
                'number': "900",
                'text': 'SERENITY WORK'
            })
        </div>
    </div>
</section>
<!-- ============================= Counter Section End ======================= -->