<!-- ========================= Counter Four Start ============================= -->
<section class="counter-four bg-white padding-y-120">
    <div class="container container-two">
        <div class="counter-three-wrapper">
            <div class="counter-three-item style-two flx-align">
                <span class="counter-three-item__icon">
                    <img src="assets/images/icons/counter-four1.svg" alt="">
                </span>
                <div class="counter-three-item__content">
                    <h2 class="counter-three-item__number text-heading">800+</h2>
                    <span class="counter-three-item__text text-body">Happy Client</span>
                </div>
            </div>
            <div class="counter-three-item style-two flx-align">
                <span class="counter-three-item__icon">
                    <img src="assets/images/icons/counter-four2.svg" alt="">
                </span>
                <div class="counter-three-item__content">
                    <h2 class="counter-three-item__number text-heading">440+</h2>
                    <span class="counter-three-item__text text-body">Project done</span>
                </div>
            </div>
            <div class="counter-three-item style-two flx-align">
                <span class="counter-three-item__icon">
                    <img src="assets/images/icons/counter-four3.svg" alt="">
                </span>
                <div class="counter-three-item__content">
                    <h2 class="counter-three-item__number text-heading">500k</h2>
                    <span class="counter-three-item__text text-body">Employees</span>
                </div>
            </div>
            <div class="counter-three-item style-two flx-align">
                <span class="counter-three-item__icon">
                    <img src="assets/images/icons/counter-four4.svg" alt="">
                </span>
                <div class="counter-three-item__content">
                    <h2 class="counter-three-item__number text-heading">80+</h2>
                    <span class="counter-three-item__text text-body">Award winning</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Counter Four End ============================= -->