<!-- ========================= Counter Three Start ============================= -->
<section class="counter-three padding-y-120">
    <img src="assets/images/thumbs/counter-bg.png" alt="" class="counter-three__bg">
    <div class="container container-two">
        <div class="counter-three-wrapper">
            <div class="counter-three-item flx-align">
                <span class="counter-three-item__icon">
                    <img src="assets/images/icons/counter-icon1.svg" alt="">
                </span>
                <div class="counter-three-item__content">
                    <h2 class="counter-three-item__number">800+</h2>
                    <span class="counter-three-item__text fw-light">Happy Client</span>
                </div>
            </div>
            <div class="counter-three-item flx-align">
                <span class="counter-three-item__icon">
                    <img src="assets/images/icons/counter-icon2.svg" alt="">
                </span>
                <div class="counter-three-item__content">
                    <h2 class="counter-three-item__number">440+</h2>
                    <span class="counter-three-item__text fw-light">Project done</span>
                </div>
            </div>
            <div class="counter-three-item flx-align">
                <span class="counter-three-item__icon">
                    <img src="assets/images/icons/counter-icon2.svg" alt="">
                </span>
                <div class="counter-three-item__content">
                    <h2 class="counter-three-item__number">500k</h2>
                    <span class="counter-three-item__text fw-light">Employees</span>
                </div>
            </div>
            <div class="counter-three-item flx-align">
                <span class="counter-three-item__icon">
                    <img src="assets/images/icons/counter-icon1.svg" alt="">
                </span>
                <div class="counter-three-item__content">
                    <h2 class="counter-three-item__number">80+</h2>
                    <span class="counter-three-item__text fw-light">Award winning</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Counter Three End ============================= -->