<ul class="floor-plan-list">
    <li class="floor-plan-list__item flx-between">
        <h6 class="text fw-normal mb-0">Rooms</h6>
        <span class="number font-16">@@room</span>
    </li>
    <li class="floor-plan-list__item flx-between">
        <h6 class="text fw-normal mb-0">Bathroom</h6>
        <span class="number font-16">@@bathroom</span>
    </li>
    <li class="floor-plan-list__item flx-between">
        <h6 class="text fw-normal mb-0">Total Area SQ.M</h6>
        <span class="number font-16">@@ara</span>
    </li>
    <li class="floor-plan-list__item flx-between">
        <h6 class="text fw-normal mb-0">Parking</h6>
        <span class="number font-16">@@parking</span>
    </li>
    <li class="floor-plan-list__item flx-between">
        <h6 class="text fw-normal mb-0">Total Price</h6>
        <h6 class="text fw-normal mb-0">@@total</h6>
    </li>
</ul>