<!-- ==================== Header Top Start Here ==================== -->
<div class="header-top header-top-two py-0">
    <div class="container container-two">
        <div class="header-top__inner flx-between">    
            <div class="header-info flx-align d-sm-block d-none">
                <div class="header-info__item flx-align">
                    <span class="header-info__icon text-gradient"><i class="fas fa-map-marker-alt"></i></span>
                    <span class="header-info__text text-body">2972 Westheimer Rd. Santa Ana</span>
                </div>
            </div>
            <div class="header-info flx-align">
                <div class="header-info__item flx-align">
                    <span class="header-info__icon text-gradient"><i class="fas fa-phone"></i></span>
                    <a href="tel:" class="header-info__text text-body">(629) 555-0129</a>
                </div>
                <div class="header-info__item flx-align">
                    <span class="header-info__icon text-gradient"><i class="fas fa-envelope"></i></span>
                    <a href="mailto:" class="header-info__text text-body">info@example.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ==================== Header Top End Here ==================== -->