<!-- ==================== Header Start Here ==================== -->
<header class="header">
    <div class="container container-two">
        <nav class="header-inner flx-between">
            <!-- Logo Start -->
            <div class="logo">
                <a href="index.html" class="link">
                    <img src="assets/images/logo/logo.png" alt="Logo">
                </a>
            </div>
            <!-- Logo End  -->

            <!-- Menu Start  -->
            <div class="header-menu d-lg-block d-none">
                @@include('../partials/_nav-menu.html', {
                    "class" : ""
                })
            </div>
            <!-- Menu End  -->

            <!-- Header Right start -->
            <div class="header-right flx-align">
                <button type="button" class="offcanvas-btn d-lg-block d-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 30 24" fill="none">
                        <line x1="0.0078125" y1="12.293" x2="30.0078" y2="12.293" stroke="#181616" stroke-width="3"/>
                        <path d="M5.00781 22.293H30.0078" stroke="#181616" stroke-width="3"/>
                        <path d="M10.0078 2.29297H30.0078" stroke="#181616" stroke-width="3"/>
                    </svg>
                </button>
                <a href="property-details.html" class="btn btn-outline-light d-lg-block d-none">Sell Property 
                    <span class="icon-right text-gradient icon"> 
                        <i class="fas fa-arrow-right"></i>
                     </span> 
                </a>
                <button type="button" class="toggle-mobileMenu d-lg-none ms-3"> <i class="las la-bars"></i> </button>
            </div>
            <!-- Header Right End  -->
        </nav>
    </div>
</header>
<!-- ==================== Header End Here ==================== -->