<!-- ============================= Message Two Section Start ======================== -->
<section class="message-three bg-white padding-y-120">
    <div class="container container-two">
        <div class="row gy-4 gy-sm-5">
            <div class="col-lg-4">
                <div class="message-two__content">
                    <div class="section-heading style-left mb-0">
                        <span class="section-heading__subtitle bg-gray-100"> 
                            <span class="text-gradient fw-semibold">Get a quote</span> 
                        </span>
                        <h2 class="section-heading__title">They chose perfect the property</h2>
                        <p class="section-heading__desc">Real estate is a lucrative ind involves the selling and a reproperties. It encompasses residential</p>
                        <div class="contact-content__box">
                            <div class=" d-flex align-items-center gap-3">
                                <div class="contact-content__icon">
                                    <img src="assets/images/icons/customer-service.svg" alt="">
                                </div>
                                <div class="contact-content__infos">
                                    <span class="contact-content__text">Need help?</span> 
                                    <a href="#" class="contact-content__contact font-20 fw-semibold text-heading">(307) 555-0133</a>
                                </div>
                            </div>
                            <p class="section-heading__desc">Real estate is a lucrative ind involves the selling and a reproperties. It encompasses residential</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 ps-lg-4">
                <div class="form-box max-w-unset">
                    <form action="#">
                        <div class="row gy-4">
                            <div class="col-sm-6 col-xs-6">
                                <label for="name" class="form-label">Your Name</label>
                                <div class="position-relative">
                                    <input type="text" id="name" class="common-input common-input--withIcon" placeholder="Name">
                                    <span class="input-icon"><i class="fas fa-user"></i></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <label for="phone" class="form-label">Your Phone</label>
                                <div class="position-relative">
                                    <input type="tel" id="phone" class="common-input common-input--withIcon" placeholder="Your Phone">
                                    <span class="input-icon"><i class="fas fa-phone"></i></span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label for="email" class="form-label">Your Email</label>
                                <div class="position-relative">
                                    <input type="email" id="email" class="common-input common-input--withIcon" placeholder="Your Email">
                                    <span class="input-icon"><i class="fas fa-paper-plane"></i></span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label for="message" class="form-label">Your Message</label>
                                <div class="position-relative">
                                    <textarea id="message" class="common-input common-input--withIcon" placeholder="Write Message.."></textarea>
                                    <span class="input-icon"><i class="fas fa-map-marker-alt"></i></span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-main w-100"> Send Message </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= Message Two Section End ======================== -->