<div class="portfolio-item">
    <div class="portfolio-item__thumb">
        <img src="assets/images/thumbs/portfolio@@imgPath.png" alt="" class="cover-img">
    </div>
    <div class="portfolio-item__content">
        <a href="portfolio-details.html" class="btn btn-icon"> 
            <span class="text-gradient line-height-0">
                <i class="fas fa-arrow-right"></i>
            </span> 
        </a>
        <div class="portfolio-item__inner">
            <h6 class="portfolio-item__title">
                <a href="portfolio-details.html" class="link">Outsourcing business</a>
            </h6>
            <p class="portfolio-item__desc">Real Estate is a vast industry that deals with the buying, selling, and renting of properties</p>
        </div>
    </div>
</div>