<!-- ============================ Pricing Plan Section Start =============================== -->
<section class="pricing padding-y-120 position-relative z-index-1">
    <div class="container container-two">
        <div class="section-heading">
            <span class="section-heading__subtitle bg-white"> <span class="text-gradient fw-semibold">Pricing Plan</span> </span>
            <h2 class="section-heading__title">Our Best Pricing Plan </h2>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6">
                <div class="pricing-item shadow-sm">
                    <img src="assets/images/gradients/price-hover-bg.png" alt="" class="hover-bg">
                    <div class="pricing-item__top">
                        <div class="flx-between flex-nowrap">
                            <span class="pricing-item__icon text-gradient">
                                <i class="far fa-user"></i>
                            </span>
                            <span class="popular-badge d-none"></span>
                        </div>
                        <h5 class="pricing-item__title mb-0 mt-2">Basic Plan</h5>
                    </div>
                    <div class="pricing-item__content">
                        <h3 class="pricing-item__price mb-2 font-body fw-bold"> $1599.00 <span class="text font-14 text-body font-body fw-normal">/Per Month</span> </h3>
                        <p class="pricing-item__desc">Essential services to start your journey</p>
                        <a href="#" class="btn btn-outline-main btn-lg bg-white w-100">Get Started</a>
                    </div>
                    <div class="pricing-item__lists">
                        <ul class="text-list flex-column p-0 border-0 gap-0">
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Up to 30 members
                            </li>
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Collaboration
                            </li>
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Project management
                            </li>
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Case management
                            </li>
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Process management
                            </li>
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Workflow management
                            </li>
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Team management
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="pricing-item shadow-sm">
                    <img src="assets/images/gradients/price-hover-bg.png" alt="" class="hover-bg">
                    <div class="pricing-item__top">
                        <div class="flx-between flex-nowrap">
                            <span class="pricing-item__icon text-gradient">
                                <i class="far fa-user"></i>
                            </span>
                            <span class="popular-badge d-none"></span>
                        </div>
                        <h5 class="pricing-item__title mb-0 mt-2">Standard Plan </h5>
                    </div>
                    <div class="pricing-item__content">
                        <h3 class="pricing-item__price mb-2 font-body fw-bold"> $1799.00 <span class="text font-14 text-body font-body fw-normal">/Per Month</span> </h3>
                        <p class="pricing-item__desc">Essential services to start your journey</p>
                        <a href="#" class="btn btn-outline-main btn-lg bg-white w-100">Get Started</a>
                    </div>
                    <div class="pricing-item__lists">
                        <ul class="text-list flex-column p-0 border-0 gap-0">
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Up to 30 members
                            </li>
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Collaboration
                            </li>
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Project management
                            </li>
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Case management
                            </li>
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Process management
                            </li>
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Workflow management
                            </li>
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Team management
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="pricing-item shadow-sm">
                    <img src="assets/images/gradients/price-hover-bg.png" alt="" class="hover-bg">
                    <div class="pricing-item__top">
                        <div class="flx-between flex-nowrap">
                            <span class="pricing-item__icon text-gradient">
                                <i class="far fa-user"></i>
                            </span>
                            <span class="popular-badge d-none"></span>
                        </div>
                        <h5 class="pricing-item__title mb-0 mt-2">Premium Plan</h5>
                    </div>
                    <div class="pricing-item__content">
                        <h3 class="pricing-item__price mb-2 font-body fw-bold"> $1999.00 <span class="text font-14 text-body font-body fw-normal">/Per Month</span> </h3>
                        <p class="pricing-item__desc">Essential services to start your journey</p>
                        <a href="#" class="btn btn-outline-main btn-lg bg-white w-100">Get Started</a>
                    </div>
                    <div class="pricing-item__lists">
                        <ul class="text-list flex-column p-0 border-0 gap-0">
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Up to 30 members
                            </li>
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Collaboration
                            </li>
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Project management
                            </li>
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Case management
                            </li>
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Process management
                            </li>
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Workflow management
                            </li>
                            <li class="text-list__item text-heading">
                                <span class="icon"><i class="fas fa-check"></i></span>
                                Team management
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Pricing Plan Section End =============================== -->
