<!-- ======================= Property Section Start ===================== -->
<section class="property-five padding-y-120">
    <div class="container container-two">
        <div class="section-heading style-left style-flex">
            <div class="section-heading__inner">
                <span class="section-heading__subtitle">
                    <span class="text-gradient fw-semibold">Latest Offer</span>
                </span>
                <h2 class="section-heading__title">Live Your Best Life in a New life Home</h2>
            </div>
        </div>
        <div class="property-five-slider arrow-style-two">
            @@include('../partials/_property-five-item.html', {
                'imagePath': '1'
            })
            @@include('../partials/_property-five-item.html', {
                'imagePath': '2'
            })
            @@include('../partials/_property-five-item.html', {
                'imagePath': '3'
            })
            @@include('../partials/_property-five-item.html', {
                'imagePath': '4'
            })
        </div>
    </div>
</section>
<!-- ======================= Property Section End ===================== -->