<!-- ======================== Property Section Start ============================ -->
<section class="property-two bg-gray-100 padding-t-60 padding-b-120">
    <div class="container container-two">
        <div class="section-heading">
            <span class="section-heading__subtitle bg-white">
                <span class="text-gradient fw-semibold">Latest Proparties</span>
            </span>
            <h2 class="section-heading__title">Real estate Investing in made it lot easy</h2>
        </div>

        <ul class="common-tab nav nav-pills justify-content-center mb-40" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link bg-transparent active" id="pills-houses-tab" data-bs-toggle="pill" data-bs-target="#pills-houses" type="button" role="tab" aria-controls="pills-houses" aria-selected="true">Houses</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link bg-transparent" id="pills-apartments-tab" data-bs-toggle="pill" data-bs-target="#pills-apartments" type="button" role="tab" aria-controls="pills-apartments" aria-selected="false">Apartments</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link bg-transparent" id="pills-bed-tab" data-bs-toggle="pill" data-bs-target="#pills-bed" type="button" role="tab" aria-controls="pills-bed" aria-selected="false">Bed</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link bg-transparent" id="pills-smartHouse-tab" data-bs-toggle="pill" data-bs-target="#pills-smartHouse" type="button" role="tab" aria-controls="pills-smartHouse" aria-selected="false">Smart House</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link bg-transparent" id="pills-swimmingPool-tab" data-bs-toggle="pill" data-bs-target="#pills-swimmingPool" type="button" role="tab" aria-controls="pills-swimmingPool" aria-selected="false">Swimming Pool</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-houses" role="tabpanel" aria-labelledby="pills-houses-tab" tabindex="0">
                <div class="row gy-4">
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '7',
                        'title' : 'Turning Dreams into Addresses Home State',
                        'price' : '$456.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '8',
                        'title' : 'Your journey homeownership starts here  too',
                        'price' : '$300.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '9',
                        'title' : 'Brick by Brick Your Dream Home Awaits',
                        'price' : '$380.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '10',
                        'title' : 'Opening Doors to Your Dreams For Living',
                        'price' : '$190.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '11',
                        'title' : 'Home is Where Your Story Begins',
                        'price' : '$480.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '12',
                        'title' : 'Building Trust, One Home at a Time',
                        'price' : '$520.00',
                    })
                </div>
            </div>
            <div class="tab-pane fade" id="pills-apartments" role="tabpanel" aria-labelledby="pills-apartments-tab" tabindex="0">
                <div class="row gy-4">
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '7',
                        'title' : 'Turning Dreams into Addresses Home State',
                        'price' : '$456.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '8',
                        'title' : 'Your journey homeownership starts here  too',
                        'price' : '$300.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '9',
                        'title' : 'Brick by Brick Your Dream Home Awaits',
                        'price' : '$380.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '10',
                        'title' : 'Opening Doors to Your Dreams For Living',
                        'price' : '$190.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '11',
                        'title' : 'Home is Where Your Story Begins',
                        'price' : '$480.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '12',
                        'title' : 'Building Trust, One Home at a Time',
                        'price' : '$520.00',
                    })
                </div>
            </div>
            <div class="tab-pane fade" id="pills-bed" role="tabpanel" aria-labelledby="pills-bed-tab" tabindex="0">
                <div class="row gy-4">
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '7',
                        'title' : 'Turning Dreams into Addresses Home State',
                        'price' : '$456.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '8',
                        'title' : 'Your journey homeownership starts here  too',
                        'price' : '$300.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '9',
                        'title' : 'Brick by Brick Your Dream Home Awaits',
                        'price' : '$380.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '10',
                        'title' : 'Opening Doors to Your Dreams For Living',
                        'price' : '$190.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '11',
                        'title' : 'Home is Where Your Story Begins',
                        'price' : '$480.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '12',
                        'title' : 'Building Trust, One Home at a Time',
                        'price' : '$520.00',
                    })
                </div>
            </div>
            <div class="tab-pane fade" id="pills-smartHouse" role="tabpanel" aria-labelledby="pills-smartHouse-tab" tabindex="0">
                <div class="row gy-4">
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '7',
                        'title' : 'Turning Dreams into Addresses Home State',
                        'price' : '$456.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '8',
                        'title' : 'Your journey homeownership starts here  too',
                        'price' : '$300.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '9',
                        'title' : 'Brick by Brick Your Dream Home Awaits',
                        'price' : '$380.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '10',
                        'title' : 'Opening Doors to Your Dreams For Living',
                        'price' : '$190.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '11',
                        'title' : 'Home is Where Your Story Begins',
                        'price' : '$480.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '12',
                        'title' : 'Building Trust, One Home at a Time',
                        'price' : '$520.00',
                    })
                </div>
            </div>
            <div class="tab-pane fade" id="pills-swimmingPool" role="tabpanel" aria-labelledby="pills-swimmingPool-tab" tabindex="0">
                <div class="row gy-4">
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '7',
                        'title' : 'Turning Dreams into Addresses Home State',
                        'price' : '$456.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '8',
                        'title' : 'Your journey homeownership starts here  too',
                        'price' : '$300.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '9',
                        'title' : 'Brick by Brick Your Dream Home Awaits',
                        'price' : '$380.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '10',
                        'title' : 'Opening Doors to Your Dreams For Living',
                        'price' : '$190.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '11',
                        'title' : 'Home is Where Your Story Begins',
                        'price' : '$480.00',
                    })
                    @@include('../partials/_property-item-two.html', {
                        'colClass': 'col-lg-4 col-sm-6',
                        'path' : '12',
                        'title' : 'Building Trust, One Home at a Time',
                        'price' : '$520.00',
                    })
                </div>
            </div>
        </div>  
    
    </div>
</section>
<!-- ======================== Property Section End ============================ -->
