<!-- ================================ Property Feature Section Start ============================= -->
<section class="property-feature padding-y-120">
    <div class="container">
        <div class="section-heading">
            <span class="section-heading__subtitle bg-white"> <span class="text-gradient fw-semibold">Property Features</span> </span>
            <h2 class="section-heading__title">Let's see our property features</h2>
        </div>
        <div class="row gy-4">

            <div class="col-lg-4 col-sm-6">
                <div class="property-feature-item shadow-sm">
                    <span class="property-feature-item__icon shadow-sm flex-shrink-0">
                        <img src="assets/images/icons/ppty-type-icon1.svg" alt="">
                    </span>
                    <h4 class="property-feature-item__title fw-600 mt-4 mb-3">Prestige Management </h4>
                    <p class="property-feature-item__desc">Real estate is a lucrative ind involves the buying selling and reproperties. It encompa </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="property-feature-item shadow-sm">
                    <span class="property-feature-item__icon shadow-sm flex-shrink-0">
                        <img src="assets/images/icons/ppty-type-icon2.svg" alt="">
                    </span>
                    <h4 class="property-feature-item__title fw-600 mt-4 mb-3">Prestige Management </h4>
                    <p class="property-feature-item__desc">Real estate is a lucrative ind involves the buying selling and reproperties. It encompa </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="property-feature-item shadow-sm">
                    <span class="property-feature-item__icon shadow-sm flex-shrink-0">
                        <img src="assets/images/icons/ppty-type-icon3.svg" alt="">
                    </span>
                    <h4 class="property-feature-item__title fw-600 mt-4 mb-3">Prestige Management </h4>
                    <p class="property-feature-item__desc">Real estate is a lucrative ind involves the buying selling and reproperties. It encompa </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="property-feature-item shadow-sm">
                    <span class="property-feature-item__icon shadow-sm flex-shrink-0">
                        <img src="assets/images/icons/ppty-type-icon4.svg" alt="">
                    </span>
                    <h4 class="property-feature-item__title fw-600 mt-4 mb-3">Prestige Management </h4>
                    <p class="property-feature-item__desc">Real estate is a lucrative ind involves the buying selling and reproperties. It encompa </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="property-feature-item shadow-sm">
                    <span class="property-feature-item__icon shadow-sm flex-shrink-0">
                        <img src="assets/images/icons/ppty-type-icon5.svg" alt="">
                    </span>
                    <h4 class="property-feature-item__title fw-600 mt-4 mb-3">Prestige Management </h4>
                    <p class="property-feature-item__desc">Real estate is a lucrative ind involves the buying selling and reproperties. It encompa </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="property-feature-item shadow-sm">
                    <span class="property-feature-item__icon shadow-sm flex-shrink-0">
                        <img src="assets/images/icons/ppty-type-icon6.svg" alt="">
                    </span>
                    <h4 class="property-feature-item__title fw-600 mt-4 mb-3">Prestige Management </h4>
                    <p class="property-feature-item__desc">Real estate is a lucrative ind involves the buying selling and reproperties. It encompa </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ================================ Property Feature Section End ============================= -->