<!-- ====================== Project Section Start =========================== -->
<section class="project-section padding-t-120 padding-b-60">
    <div class="container container-two">
        <div class="section-heading style-left style-flex">
            <div class="section-heading__inner">
                <span class="section-heading__subtitle">
                    <span class="text-gradient fw-semibold">Our Projects</span>
                </span>
                <h2 class="section-heading__title">Creating Lasting Memories through Real Estate</h2>
            </div>
        </div>

        <div class="project-page__inner arrow-style-two position-relative">
            <div class="project-page-thumb">
                <img src="assets/images/thumbs/project-section-img1.png" alt="" class="cover-img">
                <div class="project-page-content">
                    <h6 class="project-page-content__title">
                        <a href="project-details.html" class="link">Where Innovation Meets Interior Design</a>
                    </h6>
                </div>
            </div>
            <div class="project-page-thumb">
                <img src="assets/images/thumbs/project-section-img2.png" alt="" class="cover-img">
                <div class="project-page-content">
                    <h6 class="project-page-content__title">
                        <a href="project-details.html" class="link">Where Innovation Meets Interior Design</a>
                    </h6>
                </div>
            </div>
            <div class="project-page-thumb">
                <img src="assets/images/thumbs/project-section-img3.png" alt="" class="cover-img">
                <div class="project-page-content">
                    <h6 class="project-page-content__title">
                        <a href="project-details.html" class="link">Where Innovation Meets Interior Design</a>
                    </h6>
                </div>
            </div>
            <div class="project-page-thumb">
                <img src="assets/images/thumbs/project-section-img2.png" alt="" class="cover-img">
                <div class="project-page-content">
                    <h6 class="project-page-content__title">
                        <a href="project-details.html" class="link">Where Innovation Meets Interior Design</a>
                    </h6>
                </div>
            </div>
            <div class="project-page-thumb">
                <img src="assets/images/thumbs/project-section-img4.png" alt="" class="cover-img">
                <div class="project-page-content">
                    <h6 class="project-page-content__title">
                        <a href="project-details.html" class="link">Where Innovation Meets Interior Design</a>
                    </h6>
                </div>
            </div>
            <div class="project-page-thumb">
                <img src="assets/images/thumbs/project-section-img5.png" alt="" class="cover-img">
                <div class="project-page-content">
                    <h6 class="project-page-content__title">
                        <a href="project-details.html" class="link">Where Innovation Meets Interior Design</a>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================== Project Section End =========================== -->