<!-- ========================= Property Category Start ============================= -->
<section class="property-category padding-y-120">
    <div class="container">
        <div class="section-heading">
            <span class="section-heading__subtitle bg-white"> <span class="text-gradient fw-semibold">Property Category</span> </span>
            <h2 class="section-heading__title">Let us explore our property category</h2>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6">
                <div class="property-category-item">
                    <img src="assets/images/thumbs/property-1.png" alt="" class="cover-img property-category-item__img">
                    <div class="property-category-item__content">
                        <h4 class="property-category-item__title fw-600 text-white mb-2">
                            <a href="property.html">House</a>
                        </h4>
                        <p class="property-category-item__desc text-white">Extraordinary Arrangements Accessible</p>
                        <span class="property-category-item__amount text-white"> 24 Listings   </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="property-category-item">
                    <img src="assets/images/thumbs/property-2.png" alt="" class="cover-img property-category-item__img">
                    <div class="property-category-item__content">
                        <h4 class="property-category-item__title fw-600 text-white mb-2">
                            <a href="property.html">Apartment</a>
                        </h4>
                        <p class="property-category-item__desc text-white">Extraordinary Arrangements Accessible</p>
                        <span class="property-category-item__amount text-white"> 31 Listings   </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="property-category-item">
                    <img src="assets/images/thumbs/property-3.png" alt="" class="cover-img property-category-item__img">
                    <div class="property-category-item__content">
                        <h4 class="property-category-item__title fw-600 text-white mb-2">
                            <a href="property.html">Office</a>
                        </h4>
                        <p class="property-category-item__desc text-white">Extraordinary Arrangements Accessible</p>
                        <span class="property-category-item__amount text-white"> 34 Listings   </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="property-category-item">
                    <img src="assets/images/thumbs/property-4.png" alt="" class="cover-img property-category-item__img">
                    <div class="property-category-item__content">
                        <h4 class="property-category-item__title fw-600 text-white mb-2">
                            <a href="property.html">Vila</a>
                        </h4>
                        <p class="property-category-item__desc text-white">Extraordinary Arrangements Accessible</p>
                        <span class="property-category-item__amount text-white"> 54 Listings   </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="property-category-item">
                    <img src="assets/images/thumbs/property-5.png" alt="" class="cover-img property-category-item__img">
                    <div class="property-category-item__content">
                        <h4 class="property-category-item__title fw-600 text-white mb-2">
                            <a href="property.html">Luxury Home</a>
                        </h4>
                        <p class="property-category-item__desc text-white">Extraordinary Arrangements Accessible</p>
                        <span class="property-category-item__amount text-white"> 45 Listings   </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="property-category-item">
                    <img src="assets/images/thumbs/property-6.png" alt="" class="cover-img property-category-item__img">
                    <div class="property-category-item__content">
                        <h4 class="property-category-item__title fw-600 text-white mb-2">
                            <a href="property.html">Studio</a>
                        </h4>
                        <p class="property-category-item__desc text-white">Extraordinary Arrangements Accessible</p>
                        <span class="property-category-item__amount text-white"> 52 Listings   </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Property Category End ============================= -->