<!-- =========================== Property Four Section Start ======================= -->
<section class="property-four padding-y-60">
    <div class="container container-two">
        <div class="section-heading">
            <span class="section-heading__subtitle bg-white"> <span class="text-gradient fw-semibold">Latest Offer</span> </span>
            <h2 class="section-heading__title">Live Your Best Life in a New life Home</h2>
        </div>
        <div class="row gy-4">
            @@include('../partials/_property-item-four.html', {
                'imgPath': '1'
            })
            <div class="col-lg-4 col-sm-6">
                <div class="property-item style-white">
                    <div class="property-item__thumb">
                        <a href="property-details.html" class="link">
                            <img src="assets/images/thumbs/property-2.png" alt="" class="cover-img">
                        </a> 
                        <span class="property-item__badgeFour fw-500 font-14 text-uppercase"> 
                            <span class="text-gradient">Out Of Stock </span> 
                        </span>
                    </div>
                    <div class="property-item__content bg-white">
                        <h6 class="property-item__price text-heading fw-semibold">$500.00 <span class="day fw-500">/per day</span> </h6>
                        <h6 class="property-item__title text-heading fw-semibold"> <a href="property-details.html" class="link">Paramount Investments Prestige Property Management </a> </h6>
                        <p class="property-item__location text-heading fw-normal d-flex gap-2"> <span class="icon"> <i class="fas fa-map-marker-alt"></i></span> 66 Broklyant, New York America</p>
                        <div class="property-item__bottom border-color text-heading fw-semibold flx-between gap-2">
                            <ul class="amenities-list flx-align">
                                <li class="amenities-list__item flx-align">
                                    <span class="icon"><i class="fas fa-bed"></i></span>
                                    <span class="text text-heading fw-500">3 Beds</span>
                                </li>
                                <li class="amenities-list__item flx-align">
                                    <span class="icon"><i class="fas fa-bath"></i></span>
                                    <span class="text text-heading fw-500">3 Baths</span>
                                </li>
                            </ul>
                            <a href="#" class="simple-btn text-heading">Book Now <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> </a>
                        </div>
                    </div>
                </div>
            </div>
            
            @@include('../partials/_property-item-four.html', {
                'imgPath': '3'
            })
            @@include('../partials/_property-item-four.html', {
                'imgPath': '4'
            })
            <div class="col-lg-4 col-sm-6">
                <div class="property-item style-white">
                    <div class="property-item__thumb">
                        <a href="property-details.html" class="link">
                            <img src="assets/images/thumbs/property-5.png" alt="" class="cover-img">
                        </a> 
                        <span class="property-item__badgeFour fw-500 font-14 text-uppercase"> 
                            <span class="text-gradient">Out Of Stock </span> 
                        </span>
                    </div>
                    <div class="property-item__content bg-white">
                        <h6 class="property-item__price text-heading fw-semibold">$500.00 <span class="day fw-500">/per day</span> </h6>
                        <h6 class="property-item__title text-heading fw-semibold"> <a href="property-details.html" class="link">Paramount Investments Prestige Property Management </a> </h6>
                        <p class="property-item__location text-heading fw-normal d-flex gap-2"> <span class="icon"> <i class="fas fa-map-marker-alt"></i></span> 66 Broklyant, New York America</p>
                        <div class="property-item__bottom border-color text-heading fw-semibold flx-between gap-2">
                            <ul class="amenities-list flx-align">
                                <li class="amenities-list__item flx-align">
                                    <span class="icon"><i class="fas fa-bed"></i></span>
                                    <span class="text text-heading fw-500">3 Beds</span>
                                </li>
                                <li class="amenities-list__item flx-align">
                                    <span class="icon"><i class="fas fa-bath"></i></span>
                                    <span class="text text-heading fw-500">3 Baths</span>
                                </li>
                            </ul>
                            <a href="#" class="simple-btn text-heading">Book Now <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> </a>
                        </div>
                    </div>
                </div>
            </div>

            @@include('../partials/_property-item-four.html', {
                'imgPath': '6'
            })
        </div>
    </div>
</section>
<!-- =========================== Property Four Section End ======================= -->