<!-- ======================= Property Section Start ================================== -->
<section class="property-type padding-y-120">
    <div class="container container-two">
        <div class="section-heading">
            <span class="section-heading__subtitle bg-gray-100"> <span class="text-gradient fw-semibold">Property Type</span> </span>
            <h2 class="section-heading__title">Let us find the perfect the  property for you</h2>
        </div>
        <div class="row gy-4">
            @@include('../partials/_property-type-item.html', {
                'icon-path': 1,
                'title': 'Seamless Solutions Your Success'
            })
            @@include('../partials/_property-type-item.html', {
                'icon-path': 2,
                'title': 'Proactive Realty Services'
            })
            @@include('../partials/_property-type-item.html', {
                'icon-path': 3,
                'title': 'Supreme Home Finders'
            })
        </div>
    </div>
</section>
<!-- ======================= Property Section End ================================== -->