<!-- ====================== property Type Five Start =============================== -->
<section class="property-type-five padding-y-120">
    <div class="container container-two">
        <div class="section-heading">
            <span class="section-heading__subtitle">
                <span class="text-gradient fw-semibold">Clients Testimonials</span>
            </span>
            <h2 class="section-heading__title">Investing in Real Estate for Brighter Tomorrow</h2>
        </div>
        <div class="row gy-4">
            @@include('../partials/_property-type-five-item.html', {
                'imgPath': '1',
                'date': '01',
                'title': 'Dream Dwell Properties',
            })
            @@include('../partials/_property-type-five-item.html', {
                'imgPath': '2',
                'date': '02',
                'title': 'Seamless Solutions',
            })
            @@include('../partials/_property-type-five-item.html', {
                'imgPath': '3',
                'date': '03',
                'title': 'Skyline Homes Realty',
            })
        </div>
    </div>
</section>
<!-- ====================== property Type Five End =============================== -->