<!-- ======================= Service Slider Section Start ======================= -->
<div class="service-slider-section overflow-hidden">
    <div class="service-slider">
        @@include('../partials/_service-slider-item.html', {
            'iconPath': '1',
            'title': 'Infinite Insight Realty'
        })
        @@include('../partials/_service-slider-item.html', {
            'iconPath': '2',
            'title': 'Elite Scape'
        })
        @@include('../partials/_service-slider-item.html', {
            'iconPath': '3',
            'title': 'Capital Crest Estates'
        })
        @@include('../partials/_service-slider-item.html', {
            'iconPath': '4',
            'title': 'Property Consultants'
        })
    </div>
</div>
<!-- ======================= Service Slider Section Ends ======================= -->