<div class="common-sidebar">
    <h6 class="common-sidebar__title"> Recent Post </h6>
    <div class="latest-blog">
        <div class="latest-blog__thumb">
            <a href="blog-details.html"> <img src="assets/images/thumbs/latest-blog1.png" class="cover-img" alt=""></a>
        </div>
        <div class="latest-blog__content">
            <span class="latest-blog__category font-12 flx-align gap-1">
                <span class="icon text-gradient"><i class="fas fa-folder-open"></i></span>
             Category</span>
            <h6 class="latest-blog__title">
                <a href="blog-details.html">A picture is worth standard and stand us return</a>
            </h6>
        </div>
    </div>
    <div class="latest-blog">
        <div class="latest-blog__thumb">
            <a href="blog-details.html"> <img src="assets/images/thumbs/latest-blog2.png" class="cover-img" alt=""></a>
        </div>
        <div class="latest-blog__content">
            <span class="latest-blog__category font-12 flx-align gap-1">
                <span class="icon text-gradient"><i class="fas fa-folder-open"></i></span>
             Category</span>
            <h6 class="latest-blog__title">
                <a href="blog-details.html">Your journ homeownership starts here</a>
            </h6>
        </div>
    </div>
    <div class="latest-blog">
        <div class="latest-blog__thumb">
            <a href="blog-details.html"> <img src="assets/images/thumbs/latest-blog3.png" class="cover-img" alt=""></a>
        </div>
        <div class="latest-blog__content">
            <span class="latest-blog__category font-12 flx-align gap-1">
                <span class="icon text-gradient"><i class="fas fa-folder-open"></i></span>
             Category</span>
            <h6 class="latest-blog__title">
                <a href="blog-details.html">Trust us to guide you the a through the process</a>
            </h6>
        </div>
    </div>
</div>