<div class="col-lg-4 col-sm-6 col-xs-6">
    <div class="team-item">
        <div class="team-item__thumb">
            <img src="assets/images/thumbs/team@@imgPath.png" alt="" class="cover-img">
        </div>
        <div class="team-item__content flx-between flex-nowrap">
            <div>
                <h6 class="team-item__name mb-1 text-white">@@name</h6>
                <span class="team-item__designation font-12 text-white fw-light">@@designation</span>
            </div>
            <div class="social-share">
                <button type="button" class="social-share__button"><i class="fas fa-share-alt"></i></button>
                <ul class="social-share-list">
                    <li class="social-share-list__item">
                        <a href="https://www.facebook.com" class="social-share-list__link"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="social-share-list__item">
                        <a href="https://www.twitter.com" class="social-share-list__link"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="social-share-list__item">
                        <a href="https://www.linkedin.com" class="social-share-list__link"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li class="social-share-list__item">
                        <a href="https://www.pinterest.com" class="social-share-list__link"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>