<div class="testimonial-item">
    <div class="testimonial-item__top flx-between">
        <div class="testimonial-item__info">
            <h6 class="testimonial-item__name">@@name</h6>
            <span class="testimonial-item__designation">@@designation</span>
        </div>
        <img src="assets/images/icons/quote.svg" alt="">
    </div>
    <p class="testimonial-item__desc">@@desc</p>
    <ul class="star-rating flx-align justify-content-end">
        <li class="star-rating__item"><i class="fas fa-star"></i></li>
        <li class="star-rating__item"><i class="fas fa-star"></i></li>
        <li class="star-rating__item"><i class="fas fa-star"></i></li>
        <li class="star-rating__item"><i class="fas fa-star"></i></li>
        <li class="star-rating__item unabled"><i class="fas fa-star"></i></li>
    </ul>
</div>