<!-- ============================ Testimonials Four Section Start =========================== -->
<section class="testimonial-four padding-y-120">
    <div class="container container-two">
        <div class="section-heading">
            <span class="section-heading__subtitle">
                <span class="text-gradient fw-semibold">Clients Testimonials</span>
            </span>
            <h2 class="section-heading__title">Investing in Real Estate for Brighter Tomorrow</h2>
        </div>
        <div class="testimonial-four-slider">
            <div class="testimonial-item style-two style-four">
                <p class="testimonial-item__desc mt-0">Real estate is a lucrativ ind involves the buying selling and Real estate a is a lucrative indinvolves buyingrep pertiesen cos residentialreproperties. It encompasses residential  Real estate a is a lucrative</p>
                <div class="testimonial-item__top flx-between gap-2">
                    <div class="testimonial-item__info d-flex align-items-center">
                        <div class="testimonial-item__thumb">
                            <img src="assets/images/thumbs/user-img1.png" alt="">
                        </div>
                        <div>
                            <h6 class="testimonial-item__name">Robert Fox</h6>
                        <span class="testimonial-item__designation text-gradient">Prime Investments</span>
                        </div>
                    </div>
                    <span class="testimonial-item__quote"><i class="fas fa-quote-right"></i></span>
                </div>
            </div>
            <div class="testimonial-item style-two style-four">
                <p class="testimonial-item__desc mt-0">Real estate is a lucrativ ind involves the buying selling and Real estate a is a lucrative indinvolves buyingrep pertiesen cos residentialreproperties. It encompasses residential  Real estate a is a lucrative</p>
                <div class="testimonial-item__top flx-between gap-2">
                    <div class="testimonial-item__info d-flex align-items-center">
                        <div class="testimonial-item__thumb">
                            <img src="assets/images/thumbs/user-img2.png" alt="">
                        </div>
                        <div>
                            <h6 class="testimonial-item__name">John Doe</h6>
                        <span class="testimonial-item__designation text-gradient">Web Developer</span>
                        </div>
                    </div>
                    <span class="testimonial-item__quote"><i class="fas fa-quote-right"></i></span>
                </div>
            </div>
            <div class="testimonial-item style-two style-four">
                <p class="testimonial-item__desc mt-0">Real estate is a lucrativ ind involves the buying selling and Real estate a is a lucrative indinvolves buyingrep pertiesen cos residentialreproperties. It encompasses residential  Real estate a is a lucrative</p>
                <div class="testimonial-item__top flx-between gap-2">
                    <div class="testimonial-item__info d-flex align-items-center">
                        <div class="testimonial-item__thumb">
                            <img src="assets/images/thumbs/user-img3.png" alt="">
                        </div>
                        <div>
                            <h6 class="testimonial-item__name">Donald Trump</h6>
                        <span class="testimonial-item__designation text-gradient">Business Man</span>
                        </div>
                    </div>
                    <span class="testimonial-item__quote"><i class="fas fa-quote-right"></i></span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Testimonials Four Section End =========================== -->