<!-- ==================== Testimonials Section Start ==================== -->
<section class="testimonial padding-y-60">
    <div class="container container-two">
        <div class="section-heading style-left style-flex">
            <div class="section-heading__inner">
                <span class="section-heading__subtitle"> <span class="text-gradient fw-semibold">Client Testimonial</span> </span>
                <h2 class="section-heading__title">Optimum Homes & Properties property for you</h2>
            </div>
            <p class="section-heading__desc">Use receiving accounts a number a currencies and get paid like a local Use receivin accounts a number paid the most beautiful think</p>
        </div>
        <div class="testimonial__inner">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <div class="testimonial-box">
                        @@include('../partials/_testimonial-item.html', {
                            'name': 'Sakib Fahad', 
                            'designation': 'Content Creator' , 
                            'desc': 'Their product exceeded his my routi  expectations. The the quality and attention to detail a the a moutstanding and it has become an essential most a education the a man who can do tant clearly'
                        })
                        @@include('../partials/_testimonial-item.html', {
                            'name': 'John Doe', 
                            'designation': 'Frontend Developer' , 
                            'desc': 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, autem! Consectetur illo tempora sed repudiandae eaque velit expedita, ipsa earum explicabo libero, voluptatibus aliquid odio'
                        })
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial-thumb">
                        <img src="assets/images/thumbs/testimonial-img.png" alt="" class="cover-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Testimonials Section End ==================== -->