<div class="testimonial-item style-two">
    <div class="testimonial-item__top flx-between gap-2">
        <div class="testimonial-item__info flx-align">
            <div class="testimonial-item__thumb">
                <img src="assets/images/thumbs/user-img@@imgPath.png" alt="">
            </div>
            <div>
                <h6 class="testimonial-item__name">@@name</h6>
            <span class="testimonial-item__designation">@@designation</span>
            </div>
        </div>
        <ul class="star-rating flx-align justify-content-end">
            <li class="star-rating__item"><i class="fas fa-star"></i></li>
            <li class="star-rating__item"><i class="fas fa-star"></i></li>
            <li class="star-rating__item"><i class="fas fa-star"></i></li>
            <li class="star-rating__item"><i class="fas fa-star"></i></li>
            <li class="star-rating__item unabled"><i class="fas fa-star"></i></li>
        </ul>
    </div>
    <p class="testimonial-item__desc mb-0">@@desc</p>
   
</div>