<!-- ======================== Video popup Section Start =================== -->
<div class="video-popup @@classes">
    <div class="container container-two">
        <div class="video-popup__thumb">
            <img src="assets/images/thumbs/video-popup.png" alt="" class="cover-img">
            <a href="https://www.youtube.com/watch?v=pPl3ZZdTP3g" class="popup-video-link video-popup__button">
                <i class="fas fa-play"></i>
            </a>
        </div>
    </div>
</div>
<!-- ======================== Video popup Section End =================== -->