<!-- ========================== About Two Section Start ========================= -->
<section class="about-two padding-y-60">
    <div class="container container-two">
        <div class="row gy-4 align-items-center">
            <div class="col-lg-6">
                <div class="about-two__content">
                    <div class="section-heading style-left">
                        <span class="section-heading__subtitle bg-transparent"> <span class="text-gradient fw-semibold">Know About Us</span> </span>
                        <h2 class="section-heading__title">Making Your Real Estate Dreams a Reality</h2>
                    </div>
                    <ul class="check-list">
                        <li class="check-list__item d-flex align-items-center">
                            <span class="icon"><i class="fas fa-check"></i></span>
                            <span class="text  text-white fw-light font-16">Prestige Property Management Your Dream Home Awaits</span>
                        </li>
                        <li class="check-list__item d-flex align-items-center">
                            <span class="icon"><i class="fas fa-check"></i></span>
                            <span class="text  text-white fw-light font-16">Real Estate is a vast industry that deals with the buying, selling</span>
                        </li>
                        <li class="check-list__item d-flex align-items-center">
                            <span class="icon"><i class="fas fa-check"></i></span>
                            <span class="text  text-white fw-light font-16">Egestas nulla quis venenatis cras sed eu massa eu faucibus</span>
                        </li>
                    </ul>
                    <div class="about-two__button">
                        <a href="#" class="btn btn-main"> Add Listing 
                            <span class="icon-right icon"> 
                                <i class="fas fa-arrow-right"></i> 
                            </span>
                         </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-two__thumb">
                    <img src="assets/images/thumbs/about-two-img.png" alt="" class="cover-img">
                    <div class="about-two-info">
                        <h6 class="about-two-info__title">Property Management</h6>
                        <span class="about-two-info__date font-18">October 19, 2024</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== About Two Section End ========================= -->