<!-- ============================= About Section Start =========================== -->
<section class="about-four padding-t-120 padding-b-60">
    <div class="container container-two">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-heading style-left">
                        <span class="section-heading__subtitle bg-white"> <span class="text-gradient fw-semibold">Know About Us</span> </span>
                        <h2 class="section-heading__title">Making Your Real Estate Dreams a Reality</h2>
                        <p class="section-heading__desc font-18">Et purus duis sollicitudin dignissim habitant. Egestas nulla quis venenatis cras sed eu massa eu faucibus Urna fusce</p>
                    </div>
                    <ul class="check-list">
                        <li class="check-list__item d-flex align-items-center">
                            <span class="icon"><i class="fas fa-check"></i></span>
                            <span class="text fw-normal text-body font-16">Prestige Property Management Your Dream</span>
                        </li>
                        <li class="check-list__item d-flex align-items-center">
                            <span class="icon"><i class="fas fa-check"></i></span>
                            <span class="text fw-normal text-body font-16">Real Estate is a vast industry that deals </span>
                        </li>
                        <li class="check-list__item d-flex align-items-center">
                            <span class="icon"><i class="fas fa-check"></i></span>
                            <span class="text fw-normal text-body font-16">Property Management Your Dream</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-four-thumb about-three-thumb">
                    <div class="about-three-thumb__inner text-end">
                        <img src="assets/images/thumbs/about-four.png" alt="">
                        <div class="project-content">
                            <div class="project-content__inner">
                                <h2 class="project-content__number text-gradient"> 10k+ </h2>
                                <span class="project-content__text font-12">Complete project</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= About Section End =========================== -->