<!-- ====================== Banner Section Start ============================ -->
<section class="banner-video">
    <video src="https://player.vimeo.com/external/263582970.hd.mp4?s=06ac4b713c0d5bff5071a615862f22c3e34adbc0&profile_id=174" loop muted autoplay class="banner-video__video">
    </video>

    <div class="container container-two">
        <div class="row justify-content-center">
        <div class="col-lg-8">
                <div class="banner-video__content text-center">
                    <span class="banner-video__subtitle bg-gray-800 text-uppercase font-14  text-white">FinTech Fusion</span>
                    <h1 class="banner-video__title  text-white">Land Organization find your fantasy house with us</h1>
                    <p class="banner-video__desc font-18 text-white">Unlock the Power of Real Estate Making Your Real Estate Dreams a Reality Real Estate here Unlock the Power of Real Estate</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================== Banner Section End ============================ -->