<div class="col-lg-4 col-sm-6">
    <div class="blog-item">
        <div class="blog-item__thumb">
            <a href="blog-details.html" class="blog-item__thumb-link">
                <img src="assets/images/thumbs/blog-two-@@imgPath.png" class="cover-img" alt="">
            </a>
            <span class="blog-item__date top-0 font-12 mt-3 end-0 me-4"> @@date </span>
        </div>
        <div class="blog-item__content">
            <ul class="text-list border-0 p-0 flx-align">
                <li class="text-list__item font-12"> 
                    <span class="icon text-gradient"><i class="far fa-user"></i></span> 
                    <a href="#" class="link">By admin</a>
                </li>
                <li class="text-list__item font-12"> 
                    <span class="icon text-gradient"><i class="far fa-comments"></i></span>  
                    <a href="#" class="link">Comments (07)</a>
                </li>
            </ul>
            <h6 class="blog-item__title mb-4">
                <a href="blog-details.html" class="blog-item__title-link fw-500"> @@title </a>
            </h6>

            <a href="#" class="simple-btn text-gradient fw-semibold">Book Now 
                <span class="icon-right"> <i class="fas fa-arrow-right"></i></span>
            </a>
             
        </div>
    </div>
</div>
