<!-- ========================= Blog Classic Section Start ======================== -->
<div class="blog-classic padding-y-120">
    <div class="container container-two">
        <div class="row gy-4">
            <div class="col-lg-8">
                @@include('../partials/_blog-classic-item.html', {
                    'imgPath': '1', 
                    'date': '23 DEC', 
                    'comments': '05', 
                    'title': 'Your journey to home ownership starts a here the satisfaction', 
                    'desc': 'Real estate is a lucrative industry that involves the buying selliand renting of properties. It encompasses residential commercial and industrial properties Real estate agents play ', 
                })
                @@include('../partials/_blog-classic-item.html', {
                    'imgPath': '2', 
                    'date': '30 DEC', 
                    'comments': '07', 
                    'title': 'Experience the best in real estate services  a here the  satisfaction', 
                    'desc': 'Real estate is a lucrative industry that involves the buying selliand renting of properties. It encompasses residential commercial and industrial properties Real estate agents play ', 
                })
                @@include('../partials/_blog-classic-item.html', {
                    'imgPath': '3', 
                    'date': '16 DEC', 
                    'comments': '02', 
                    'title': ' Let us find the perfect property for you Elite Realty Services', 
                    'desc': 'Real estate is a lucrative industry that involves the buying selliand renting of properties. It encompasses residential commercial and industrial properties Real estate agents play ', 
                })
                @@include('../partials/_blog-classic-item.html', {
                    'imgPath': '1', 
                    'date': '24 DEC', 
                    'comments': '10', 
                    'title': ' Investing in real estate made easy the door to your new home', 
                    'desc': 'Real estate is a lucrative industry that involves the buying selliand renting of properties. It encompasses residential commercial and industrial properties Real estate agents play ', 
                })
               
                @@include('../partials/_pagination.html') 
                
            </div>
            <div class="col-lg-4">
                @@include('../partials/_blog-sidebar.html')
            </div>  
        </div>
    </div>
</div>
<!-- ========================= Blog Classic Section End ======================== -->