<!-- ===================== Choose Us Start =========================== -->
<section class="choose-us padding-y-120 bg-gray-900">
    <div class="container">
        <div class="row gy-4 flex-wrap-reverse">
            <div class="col-lg-6">
                <div class="choose-us__thumb">
                    <div class="choose-us__thumb-inner">
                        <img src="assets/images/thumbs/choose-us-img.png" alt="Choose Us" class="img cover-img">
                        <a href="https://www.youtube.com/watch?v=pPl3ZZdTP3g" class="popup-video-link video-popup__button">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                    <img src="assets/images/shapes/pipes.png" alt="Pipe Shape" class="pipe-shape">
                </div>
            </div>
            <div class="col-lg-6 ps-lg-5">
                <div class="choose-us__content">
                    <div class="section-heading mb-0 style-left">
                        <span class="section-heading__subtitle bg-gray-700"> <span class="text-gradient fw-semibold">why chose us</span> </span>
                        <h2 class="section-heading__title text-white">Making Your Real Estate the Dreams a Reality</h2>
                        <p class="section-heading__desc text-white fw-light font-18">Real Estate is a vast industry that deals with the buying, selling, and renting of properties. It involves transactions related to residential Real Estate is a vt industry that deals with the an buying, selling, and renting </p>
                        <div class="choose-us__button">
                            <a href="blog-details.html" class="btn btn-outline-lightInDark text-white fw-normal">Read More 
                                <span class="icon-right icon text-gradient"> 
                                    <i class="fas fa-arrow-right"></i>
                                 </span> 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===================== Choose Us End =========================== -->