<!-- ======================= Counter Section Start ======================= -->
<section class="counter-six">
    <div class="container container-two">
        <div class="counter-six__inner bg-white">
            <div class="row gy-4">
               @@include('../partials/_counter-six-item.html', {
                'imgPath': '1',
                'number': '200+',
                'text': 'HAPPY PATIENTS',
               })
               @@include('../partials/_counter-six-item.html', {
                'imgPath': '2',
                'number': '20+',
                'text': 'SAVED HEARTS',
               })
               @@include('../partials/_counter-six-item.html', {
                'imgPath': '3',
                'number': '10k+',
                'text': 'EXPERT DOCTORS',
               })
               @@include('../partials/_counter-six-item.html', {
                'imgPath': '4',
                'number': '900+',
                'text': 'SERENITY WORK',
               })
            </div>
        </div>
    </div>
</section>
<!-- ======================= Counter Section End ======================= -->