<!-- =========================== Counter Five Start ================================ -->
<section class="counter-five @@classes">
    <div class="container container-two">
        <div class="counter-five-wrapper">
            <div class="counter-five-item style-two d-flex align-items-center">
                <span class="counter-five-item__icon">
                    <img src="assets/images/icons/counter-five-icon1.svg" alt="">
                </span>
                <div class="counter-five-item__content">
                    <h2 class="counter-five-item__number text-heading">200+</h2>
                    <span class="counter-five-item__text text-body">Team member</span>
                </div>
            </div>
            <div class="counter-five-item style-two d-flex align-items-center">
                <span class="counter-five-item__icon">
                    <img src="assets/images/icons/counter-five-icon2.svg" alt="">
                </span>
                <div class="counter-five-item__content">
                    <h2 class="counter-five-item__number text-heading">20+</h2>
                    <span class="counter-five-item__text text-body">Winning award</span>
                </div>
            </div>
            <div class="counter-five-item style-two d-flex align-items-center">
                <span class="counter-five-item__icon">
                    <img src="assets/images/icons/counter-five-icon3.svg" alt="">
                </span>
                <div class="counter-five-item__content">
                    <h2 class="counter-five-item__number text-heading">10k</h2>
                    <span class="counter-five-item__text text-body">Complete project</span>
                </div>
            </div>
            <div class="counter-five-item style-two d-flex align-items-center">
                <span class="counter-five-item__icon">
                    <img src="assets/images/icons/counter-five-icon4.svg" alt="">
                </span>
                <div class="counter-five-item__content">
                    <h2 class="counter-five-item__number text-heading">90k</h2>
                    <span class="counter-five-item__text text-body">Client review</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================== Counter Five End ================================ -->
