
<div class="filter">
    <form action="#">
        <div class="row gy-sm-4 gy-3">
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <input type="text" class="common-input" placeholder="Enter Keyword">      
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <div class="select-has-icon icon-black">
                    <select class="select common-input">
                        <option value="1" disabled>Property Type</option>
                        <option value="1">Apartment</option>
                        <option value="1">House</option>
                        <option value="1">Land</option>
                        <option value="1">Single Family</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <div class="select-has-icon icon-black">
                    <select class="select common-input">
                        <option value="1" disabled>Location</option>
                        <option value="1">Bangladesh</option>
                        <option value="1">Japan</option>
                        <option value="1">Korea</option>
                        <option value="1">Singapore</option>
                        <option value="1">Germany</option>
                        <option value="1">Thailand</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <button type="submit" class="btn btn-main w-100">Find Now</button>
            </div>
        </div>
    </form>
</div>
