<!-- =================== Footer Three Start ====================== -->
<footer class="footer padding-y-120 @@bgDarkClass">
    <div class="container container-two">

        <div class="footer-top flx-between gap-3">
            <div class="footer-top__left">
                <span class="icon"><img src="assets/images/icons/envelop-icon.svg" alt=""></span>
                <h2 class="text text-white mb-0">Subscribe to My newsletter</h2>
            </div>
            <form action="#" class="subscribe-form d-flex align-items-center gap-3">
                <div class="position-relative w-100">
                    <input type="text" class="common-input common-input--withLeftIcon w-100" placeholder="Enter Your Email Address">
                    <span class="input-icon input-icon--left text-gradient font-20 line-height-1"><i class="far fa-envelope"></i></span>
                </div>
                <button type="submit" class="btn btn-main flex-shrink-0 fw-normal">Subscribe</button>
            </form>
        </div>
        
        <div class="row gy-5">
            <div class="col-xl-5 col-sm-6 col-xsm-6">
                <div class="footer-item">
                    <div class="footer-item__logo">
                        <a href="index.html"> <img src="assets/images/logo/white-logo.png" alt=""></a>
                    </div>
                    <p class="footer-item__desc max-w-unset">Lorem Ipsum is simply is dumiomy is text Lorem ta Ipsum is simply Lorem Ipsum is simply </p>
                    
                    <ul class="social-icon-list style-two mt-4 flx-align gap-2">
                        <li class="social-icon-list__item">
                            <a href="https://www.facebook.com" class="social-icon-list__link"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="social-icon-list__item">
                            <a href="https://www.twitter.com" class="social-icon-list__link"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="social-icon-list__item">
                            <a href="https://www.linkedin.com" class="social-icon-list__link"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li class="social-icon-list__item">
                            <a href="https://www.pinterest.com" class="social-icon-list__link"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                    
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-xsm-6">
                <div class="footer-item ms-xl-5">
                    <h6 class="footer-item__title">Services</h6>
                    <ul class="footer-menu">
                        <li class="footer-menu__item"><a href="property.html" class="footer-menu__link">Invest in Your Future with Real Estate</a></li>
                        <li class="footer-menu__item"><a href="property.html" class="footer-menu__link">Discover Endless Possibilities in Real Estate</a></li>
                        <li class="footer-menu__item"><a href="property.html" class="footer-menu__link">Experience Luxury Living Today</a></li>
                        <li class="footer-menu__item"><a href="property.html" class="footer-menu__link">Embrace the Real Estate Lifestyle</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-xsm-6">
                <div class="footer-item">
                    <h6 class="footer-item__title">Contact Us</h6>
                    <div class="footer-contact">
                        <div class="footer-contact__item font-18 d-flex align-items-start">
                            <span class="footer-contact__icon"><i class="fas fa-envelope"></i></span>
                            <a href="mailto:" class="footer-contact__link">infoname@mail.com</a>
                        </div>
                        <div class="footer-contact__item font-18 d-flex align-items-start">
                            <span class="footer-contact__icon"><i class="fas fa-map-marker-alt"></i></span>
                            <p class="footer-contact__text">Old city Street,Usa 1212 New york-3500</p>
                        </div>
                        <div class="footer-contact__item font-18 d-flex align-items-start">
                            <span class="footer-contact__icon"><i class="fas fa-phone"></i></span>
                            <a href="tel:" class="footer-contact__link">(+888) 123 456 765</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- bottom Footer -->
<div class="bottom-footer @@bgDarkClass">
    <div class="container container-two">
        <div class="bottom-footer__inner flx-between gap-3">
            <p class="bottom-footer__text"> &copy; CityScape 2024 | All Rights Reserved.</p>
            <div class="footer-links">
                <a href="#" class="footer-link">Terms & Condition</a>
                <a href="#" class="footer-link">Privacy Policy</a>
                <a href="#" class="footer-link">Contact Us</a>
            </div>
        </div>
    </div>
</div>
<!-- =================== Footer Three End ====================== -->