<!-- ========================== Gallery Section Start ============================== -->
<section class="gallery-section @@sectionClass">
    <div class="container container-two">
        <div class="section-heading">
            <span class="section-heading__subtitle bg-transparent"> <span class="text-gradient fw-semibold">Our Gallery</span> </span>
            <h2 class="section-heading__title">Unlocking the door to your a the new home</h2>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-5 col-xs-6">
                <div class="gallery-thumb">
                    <img src="assets/images/thumbs/gallery-img1.png" alt="" class="cover-img">
                    <a href="assets/images/thumbs/gallery-img1.png" class="gallery-thumb__link gallery-popup">
                        <i class="fas fa-expand-alt"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-sm-7 col-xs-6">
                <div class="gallery-thumb">
                    <img src="assets/images/thumbs/gallery-img2.png" alt="" class="cover-img">
                    <a href="assets/images/thumbs/gallery-img2.png" class="gallery-thumb__link gallery-popup">
                        <i class="fas fa-expand-alt"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-8 col-sm-7 col-xs-6">
                <div class="gallery-thumb">
                    <img src="assets/images/thumbs/gallery-img3.png" alt="" class="cover-img">
                    <a href="assets/images/thumbs/gallery-img3.png" class="gallery-thumb__link gallery-popup">
                        <i class="fas fa-expand-alt"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-5 col-xs-6">
                <div class="gallery-thumb">
                    <img src="assets/images/thumbs/gallery-img4.png" alt="" class="cover-img">
                    <a href="assets/images/thumbs/gallery-img4.png" class="gallery-thumb__link gallery-popup">
                        <i class="fas fa-expand-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Gallery Section End ============================== -->