<!-- ==================== Header Top Four Start Here ==================== -->
<div class="header-top bg--gradient">
    <div class="container container-two">
        <div class="flx-between justify-content-sm-between justify-content-center gap-2">    
            <div class="header-info flx-align">
                <div class="header-info__item text-white flx-align">
                    <span class="header-info__icon"><i class="fas fa-map-marker-alt"></i></span>
                    <span class="header-info__text text-white fw-light">6391 Elgin St. Celina, 10299</span>
                </div>
                <div class="header-info__item text-white flx-align">
                    <span class="header-info__icon"><i class="fas fa-envelope"></i></span>
                    <a href="mailto:" class="header-info__text text-white fw-light">info@example.com</a>
                </div>
            </div>
            <ul class="social-icon-list flx-align gap-2">
                <li class="social-icon-list__item">
                    <a href="https://www.facebook.com" class="social-icon-list__link"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="social-icon-list__item">
                    <a href="https://www.twitter.com" class="social-icon-list__link"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="social-icon-list__item">
                    <a href="https://www.linkedin.com" class="social-icon-list__link"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="social-icon-list__item">
                    <a href="https://www.pinterest.com" class="social-icon-list__link"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ==================== Header Top Four End Here ==================== -->