<!-- ==================== Latest Properties Four Start ========================= -->
<section class="latest-properties-four padding-y-60 @@classes">
    <div class="container container-two">
        <div class="row gy-4 flex-wrap-reverse">
            <div class="col-lg-5">
                <div class="latest-properties-four__thumb">
                    <img src="assets/images/thumbs/latest-properties-img.png" alt="">
                </div>
            </div>
            <div class="col-xl-1 d-xl-block d-none"></div>
            <div class="col-lg-6 ps-xl-5">
                <div class="latest-properties-four__content">
                    <div class="section-heading style-left">
                        <span class="section-heading__subtitle bg-white"> <span class="text-gradient fw-semibold">Latest Proparties</span> </span>
                        <h2 class="section-heading__title">Real estate Investing in made it lot easy</h2>
                    </div>

                    <div class="latest-properties-four__item d-flex align-items-start">
                        <span class="latest-properties-four__icon"> <i class="fas fa-check text-gradient"></i> </span>
                        <div class="latest-properties-four__info">
                            <h6 class="latest-properties-four__title">Felis in quam volutpat </h6>
                            <p class="latest-properties-four__desc font-18">Lorem ipsum dolor consectetur notte massa sapien samet. Aucibus sed sem non, mattis commodo nisi.</p>
                        </div>
                    </div>

                    <div class="latest-properties-four__item d-flex align-items-start">
                        <span class="latest-properties-four__icon"> <i class="fas fa-check text-gradient"></i> </span>
                        <div class="latest-properties-four__info">
                            <h6 class="latest-properties-four__title">Sed mi et in neque mattis </h6>
                            <p class="latest-properties-four__desc font-18">Lorem ipsum dolor consectetur notte massa sapien samet. Aucibus sed sem non, mattis commodo nisi.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Latest Properties Four End ========================= -->