<!-- ========================== Our Service Start ============================= -->
<section class="our-service bg-white padding-y-120">
    <div class="container">
        <div class="section-heading">
            <span class="section-heading__subtitle bg-gray-100"> <span class="text-gradient fw-semibold">Our Services</span> </span>
            <h2 class="section-heading__title">Let us explore our service & get services</h2>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4">
                <div class="our-service-item">
                    <span class="our-service-item__icon flx-center">
                        <img src="assets/images/icons/property-type-icon1.svg" alt="">
                    </span>
                    <h4 class="our-service-item__title mt-32 mb-2">Buy a home</h4>
                    <p class="our-service-item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo debitis provident suscipit.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="our-service-item">
                    <span class="our-service-item__icon flx-center">
                        <img src="assets/images/icons/property-type-icon2.svg" alt="">
                    </span>
                    <h4 class="our-service-item__title mt-32 mb-2">Rent a home</h4>
                    <p class="our-service-item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo debitis provident suscipit.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="our-service-item">
                    <span class="our-service-item__icon flx-center">
                        <img src="assets/images/icons/property-type-icon3.svg" alt="">
                    </span>
                    <h4 class="our-service-item__title mt-32 mb-2">Sell a home</h4>
                    <p class="our-service-item__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo debitis provident suscipit.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Our Service End ============================= -->