<div class="@@colClass">
    <div class="property-item style-two">
        <div class="property-item__thumb">
            <a href="property-details.html" class="link">
                <img src="assets/images/thumbs/property-@@path.png" alt="" class="cover-img">
            </a> 
        </div>
        <div class="property-item__content">
            <h6 class="property-item__title">
                <a href="property-details.html" class="link"> @@title </a> 
            </h6>
            <ul class="amenities-list flx-align">
                <li class="amenities-list__item flx-align">
                    <span class="icon text-gradient"><i class="fas fa-bed"></i></span>
                    <span class="text">3 Beds</span>
                </li>
                <li class="amenities-list__item flx-align">
                    <span class="icon text-gradient"><i class="fas fa-bath"></i></span>
                    <span class="text">3 Baths</span>
                </li>
            </ul>
            <h6 class="property-item__price"> @@price
                <span class="day">/per day</span> 
            </h6>
            <p class="property-item__location d-flex gap-2"> 
                <span class="icon text-gradient"> <i class="fas fa-map-marker-alt"></i></span>
                66 Broklyant, New York America
            </p>
            <a href="property-details.html" class="simple-btn text-gradient fw-semibold font-14">Book Now <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> </a>
        </div>
    </div>
</div>