<div class="col-xl-4 col-sm-6 col-xs-6">
    <div class="property-type-three-item d-flex align-items-start">
        <span class="property-type-three-item__icon flex-shrink-0">
            <img src="assets/images/icons/ppty-type-icon@@iconPath.svg" alt="">
        </span>
        <div class="property-type-three-item__content">
            <h6 class="property-type-three-item__title">@@title</h6>
            <p class="property-type-three-item__desc font-18">@@desc </p>
            <a href="property.html" class="simple-btn text-heading fw-semibold">More About 
                <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span>
             </a>
        </div>
    </div>
</div>