<!-- ============================ property Start ==================== -->
<section class="property padding-y-120">
    <div class="container container-two">

        <div class="section-heading style-left style-dark flx-between align-items-end gap-3">
            <div class="section-heading__inner">
                <span class="section-heading__subtitle"> <span class="text-gradient fw-semibold">Latest property</span> </span>
                <h2 class="section-heading__title">Prestige Propert Management  property for you</h2>
            </div>
            <a href="#" class="btn btn-main">View More <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> </a>
        </div>

        <div class="row gy-4">
            @@include('../partials/_property-item.html', {
                'image-path': 1  
            })
            @@include('../partials/_property-item.html', {
                'image-path': 2  
            })
            @@include('../partials/_property-item.html', {
                'image-path': 3  
            })
            @@include('../partials/_property-item.html', {
                'image-path': 4  
            })
            @@include('../partials/_property-item.html', {
                'image-path': 5  
            })
            @@include('../partials/_property-item.html', {
                'image-path': 6  
            })
        </div>
        <div class="text-center property__btn">
            <a href="#" class="btn btn-main"> Sell All Listing <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> </a>
        </div>
    </div>
</section>
<!-- ============================ property End ==================== -->