<div class="col-lg-4 col-sm-6">
    <div class="property-type-five-item">
        <div class="property-type-five-item__thumb">
            <img src="assets/images/thumbs/property-type-five-img@@imgPath.png" alt="Image" class="cover-img">
        </div>
        <div class="property-type-five-item__content">
            <span class="property-type-five-item__date">@@date</span>
            <h6 class="property-type-five-item__title">@@title</h6>
            <p class="property-type-five-item__desc">Real Estate is a vast industry that deals with the buying, selling</p>
        </div>
    </div>
</div>