<!-- ==================== Login Section Start ============================= -->
<section class="loginRegister padding-y-120">
    <div class="container container-two">
        <div class="loginRegister-box card common-card">
            <div class="card-body">
                <div class="row gy-4">
                    <div class="col-lg-6">
                        <div class="loginRegister-thumb rounded overflow-hidden me-lg-2 d-flex h-100">
                            <img src="assets/images/thumbs/login-img.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="loginRegister-content">
                            <form action="#">
                                <h3 class="loginRegister__title text-poppins">Sign Up to CityScape</h3>
                                <p class="loginRegister__desc mb-4 font-18">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, corrupti.</p>

                                <div class="row gy-lg-4 gy-3">
                                    <div class="col-sm-6 col-xs-6">
                                        <label for="FirstName" class="form-label">First Name</label>
                                        <input type="text" class="common-input" id="FirstName" placeholder="First Name">
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <label for="LastName" class="form-label">Last Name</label>
                                        <input type="text" class="common-input" id="LastName" placeholder="Last Name">
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <label for="username" class="form-label">Username</label>
                                        <input type="text" class="common-input" placeholder="User Name" id="username">
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <label for="Email" class="form-label">Email</label>
                                        <input type="email" class="common-input" placeholder="Email" id="Email">
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <label for="your-password" class="form-label">Password</label>
                                        <div class="position-relative">
                                            <input type="password" class="common-input" placeholder="Password" id="your-password">
                                            <span class="password-show-hide fas fa-eye toggle-password la-eye-slash" id="#your-password"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <label for="confirm-password" class="form-label">Confirm Password</label>
                                        <div class="position-relative">
                                            <input type="password" class="common-input" placeholder="Confirm Password" id="confirm-password">
                                            <span class="password-show-hide fas fa-eye toggle-password la-eye-slash" id="#confirm-password"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 py-2">
                                        <div class="common-check">
                                            <input class="form-check-input" type="checkbox" value="" id="remember">
                                            <div class="form-check-label">
                                                <label class="" for="remember"> I agree with Licences Info,</label>
                                                <a href="#" class="text-decoration-underline text-main">Terms of Service</a>
                                                <label class="" for="remember"> , Privacy Policy </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-main w-100">Register <span class="icon-right"> <i class="far fa-paper-plane"></i> </span> </button>
                                    </div>
                                    <div class="col-sm-12 mb-0">
                                        <div class="have-account text-center">
                                            <p class="text">Already Have An Account? <a class="link text-main text-decoration-underline font-14 text-poppins" href="login.html">Login</a></p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==================== Login Section End ============================= -->