<!-- =================== Search Sidebar Start ======================= -->
<div class="search-sidebar">
    <form action="#" method="post" autocomplete="off">
        
        <div class="search-sidebar__item">
            <h6 class="search-sidebar__title mb-4">Property Type</h6>
            <div class="common-check">
                <input class="form-check-input" type="checkbox" value="" id="House">
                <label class="form-check-label" for="House">
                    House
                </label>
            </div>
            <div class="common-check">
                <input class="form-check-input" type="checkbox" value="" id="Single">
                <label class="form-check-label" for="Single">
                    Single Family
                </label>
            </div>
            <div class="common-check">
                <input class="form-check-input" type="checkbox" value="" id="Apartment">
                <label class="form-check-label" for="Apartment">
                    Apartment
                </label>
            </div>
            <div class="common-check">
                <input class="form-check-input" type="checkbox" value="" id="Office">
                <label class="form-check-label" for="Office">
                    Office Villa
                </label>
            </div>
            <div class="common-check">
                <input class="form-check-input" type="checkbox" value="" id="Luxury">
                <label class="form-check-label" for="Luxury">
                    Luxury Home
                </label>
            </div>
            <div class="common-check">
                <input class="form-check-input" type="checkbox" value="" id="Studio">
                <label class="form-check-label" for="Studio">
                    Studio
                </label>
            </div>
        </div>
        
        <div class="search-sidebar__item">
            <h6 class="search-sidebar__title mb-4">Amenities</h6>
            <div class="common-check">
                <input class="form-check-input" type="checkbox" value="" id="Dishwasher">
                <label class="form-check-label" for="Dishwasher">
                    Dishwasher
                </label>
            </div>
            <div class="common-check">
                <input class="form-check-input" type="checkbox" value="" id="Coverings">
                <label class="form-check-label" for="Coverings">
                    Floor Coverings
                </label>
            </div>
            <div class="common-check">
                <input class="form-check-input" type="checkbox" value="" id="Internet">
                <label class="form-check-label" for="Internet">
                    Internet
                </label>
            </div>
            <div class="common-check">
                <input class="form-check-input" type="checkbox" value="" id="Wardrobes">
                <label class="form-check-label" for="Wardrobes">
                    Build Wardrobes
                </label>
            </div>
            <div class="common-check">
                <input class="form-check-input" type="checkbox" value="" id="Supermarket">
                <label class="form-check-label" for="Supermarket">
                    Supermarket
                </label>
            </div>
            <div class="common-check">
                <input class="form-check-input" type="checkbox" value="" id="KidsZone">
                <label class="form-check-label" for="KidsZone">
                    Kids Zone
                </label>
            </div>
        </div>
        
        <div class="search-sidebar__item">
            <h6 class="search-sidebar__title mb-4">Price Renge</h6>
            <div class="common-check">
                <input class="form-check-input" type="checkbox" value="" id="LowBudget">
                <label class="form-check-label" for="LowBudget">
                    Low Budget
                </label>
            </div>
            <div class="common-check">
                <input class="form-check-input" type="checkbox" value="" id="Medium">
                <label class="form-check-label" for="Medium">
                    Medium
                </label>
            </div>
            <div class="common-check">
                <input class="form-check-input" type="checkbox" value="" id="HighBudget">
                <label class="form-check-label" for="HighBudget">
                    High Budget
                </label>
            </div>
        </div>

        <div class="search-sidebar__item">
            <h6 class="search-sidebar__title mb-4">Filter By Price</h6>
            <div class="custom--range">
                <div class="custom--range__content d-flex flex-wrap align-items-center justify-content-between mb-2">
                    <label for="amount" class="custom--range__text">Your range:</label>
                    <input type="text" class="custom--range__prices text-main text-poppins fw-500" id="amount" readonly="">
                </div>
                <div id="slider-range"></div>
            </div>
        </div>
        <div class="search-sidebar__item">
            <h6 class="search-sidebar__title mb-4">Bed/Bath</h6>
            <div class="common-radio">
                <input class="form-check-input" type="radio" name="room" id="SingleBed">
                <label class="form-check-label" for="SingleBed">Single</label>
            </div>
            <div class="common-radio">
                <input class="form-check-input" type="radio" name="room" id="Double">
                <label class="form-check-label" for="Double">Double</label>
            </div>
            <div class="common-radio">
                <input class="form-check-input" type="radio" name="room" id="UpTo3">
                <label class="form-check-label" for="UpTo3">Up To 3</label>
            </div>
            <div class="common-radio">
                <input class="form-check-input" type="radio" name="room" id="UpTo5">
                <label class="form-check-label" for="UpTo5">Up To 5</label>
            </div>
        </div>
        <div class="search-sidebar__item">
            <h6 class="search-sidebar__title mb-4">Bed/Bath</h6>
            
            <div class="common-radio">
                <input class="form-check-input" type="radio" name="room" id="Buying">
                <label class="form-check-label" for="Buying">Buying</label>
            </div>
            <div class="common-radio">
                <input class="form-check-input" type="radio" name="room" id="Renting">
                <label class="form-check-label" for="Renting">Renting</label>
            </div>
            <div class="common-radio">
                <input class="form-check-input" type="radio" name="room" id="Selling">
                <label class="form-check-label" for="Selling">Selling</label>
            </div>
        </div>
    </form>
</div>
<!-- =================== Search Sidebar End ======================= -->