<!-- ======================= Services Section Start ========================= -->
<section class="service padding-t-120 padding-b-60">
    <div class="container container-two">
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6 col-xs-6">
                <div class="service-item">
                    <span class="service-item__icon">
                        <img src="assets/images/icons/service1.svg" alt="">
                    </span>
                    <h6 class="service-item__title">Prestige Management</h6>
                    <span class="service-item__text font-18 d-block">256 Listings</span>
                    <a href="#" class="simple-btn text-gradient fw-semibold font-14">More About 
                        <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> 
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-6">
                <div class="service-item">
                    <span class="service-item__icon">
                        <img src="assets/images/icons/service2.svg" alt="">
                    </span>
                    <h6 class="service-item__title">Prime Investments</h6>
                    <span class="service-item__text font-18 d-block">631 Listings</span>
                    <a href="#" class="simple-btn text-gradient fw-semibold font-14">More About 
                        <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> 
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-6">
                <div class="service-item">
                    <span class="service-item__icon">
                        <img src="assets/images/icons/service3.svg" alt="">
                    </span>
                    <h6 class="service-item__title">Swift Home Sales</h6>
                    <span class="service-item__text font-18 d-block">256 Listings</span>
                    <a href="#" class="simple-btn text-gradient fw-semibold font-14">More About 
                        <span class="icon-right"> <i class="fas fa-arrow-right"></i> </span> 
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================= Services Section End ========================= -->

