<div class="common-sidebar">
    <h6 class="common-sidebar__title"> Tags </h6>
    <ul class="tag-list">
        <li class="tag-list__item">
            <a href="blog-classic.html" class="tag-list__link">All Project</a>
        </li>
        <li class="tag-list__item">
            <a href="blog-classic.html" class="tag-list__link">Finders</a>
        </li>
        <li class="tag-list__item">
            <a href="blog-classic.html" class="tag-list__link">Home Sales</a>
        </li>
        <li class="tag-list__item">
            <a href="blog-classic.html" class="tag-list__link">Swift</a>
        </li>
        <li class="tag-list__item">
            <a href="blog-classic.html" class="tag-list__link">Reliable Rentals</a>
        </li>
        <li class="tag-list__item">
            <a href="blog-classic.html" class="tag-list__link">Living</a>
        </li>
    </ul>
</div>