<div class="common-sidebar">
    <h6 class="common-sidebar__title"> Properties </h6>
    <div class="row gy-4">
        <div class="col-lg-6 col-sm-4 col-6">
            <a href="property.html" class="properties-item d-block w-100">
                <img src="assets/images/thumbs/properties-1.png" alt="Property Image" class="cover-img">
                <span class="properties-item__text">Relax House</span>
            </a>
        </div>
        <div class="col-lg-6 col-sm-4 col-6">
            <a href="property.html" class="properties-item d-block w-100">
                <img src="assets/images/thumbs/properties-2.png" alt="Property Image" class="cover-img">
                <span class="properties-item__text">Hunting Adventure</span>
            </a>
        </div>
        <div class="col-lg-6 col-sm-4 col-6">
            <a href="property.html" class="properties-item d-block w-100">
                <img src="assets/images/thumbs/properties-3.png" alt="Property Image" class="cover-img">
                <span class="properties-item__text">Homeowner ship</span>
            </a>
        </div>
        <div class="col-lg-6 col-sm-4 col-6">
            <a href="property.html" class="properties-item d-block w-100">
                <img src="assets/images/thumbs/properties-4.png" alt="Property Image" class="cover-img">
                <span class="properties-item__text">Real Dreams</span>
            </a>
        </div>
        <div class="col-lg-6 col-sm-4 col-6">
            <a href="property.html" class="properties-item d-block w-100">
                <img src="assets/images/thumbs/properties-5.png" alt="Property Image" class="cover-img">
                <span class="properties-item__text">New Doors</span>
            </a>
        </div>
        <div class="col-lg-6 col-sm-4 col-6">
            <a href="property.html" class="properties-item d-block w-100">
                <img src="assets/images/thumbs/properties-6.png" alt="Property Image" class="cover-img">
                <span class="properties-item__text">The Heart</span>
            </a>
        </div>
    </div>
</div>  

