<div class="common-sidebar">
    <h6 class="common-sidebar__title"> Category </h6>
    <ul class="category-list">
        <li class="category-list__item">
            <a href="blog-classic.html" class="category-list__link flx-between">
                <span class="text">Prime Investments</span>
                <span class="number">(1)</span>
            </a>
        </li>
        <li class="category-list__item">
            <a href="blog-classic.html" class="category-list__link flx-between">
                <span class="text">ProHome Finders</span>
                <span class="number"> (8) </span>
            </a>
        </li>
        <li class="category-list__item">
            <a href="blog-classic.html" class="category-list__link flx-between">
                <span class="text">SmartHouse Agency</span>
                <span class="number"> (3) </span>
            </a>
        </li>
        <li class="category-list__item">
            <a href="blog-classic.html" class="category-list__link flx-between">
                <span class="text">Secure Property Partners</span>
                <span class="number"> (5) </span>
            </a>
        </li>
    </ul>
</div>