<!-- ========================= Team Section Start ============================= -->
<section class="team padding-y-60">
    <div class="container container-two">
        <div class="section-heading style-left style-flex flx-between align-items-end gap-3">
            <div class="section-heading__inner">
                <span class="section-heading__subtitle"> <span class="text-gradient fw-semibold">OuR Professionals</span> </span>
                <h2 class="section-heading__title">Investment and Growth through Real Estate</h2>
            </div>
            <a href="#" class="btn btn-main">Learn More <span class="icon-right"> <i class="fas fa-plus"></i> </span> </a>
        </div>
        <div class="row gy-4">
            @@include('../partials/_team-item.html', {
                'imgPath': '1', 
                'name': 'Annette Black', 
                'designation': 'President of Sales', 
            })
            @@include('../partials/_team-item.html', {
                'imgPath': '2', 
                'name': 'Savannah Nguyen', 
                'designation': 'Manager of Sales', 
            })
            @@include('../partials/_team-item.html', {
                'imgPath': '3', 
                'name': 'Bessie Cooper', 
                'designation': 'Director of Sales', 
            })
        </div>
    </div>
</section>
<!-- ========================= Team Section End ============================= -->