<div class="row gy-4 dashboard-widget-wrapper">
    <div class="col-xl-3 col-sm-6 col-xs-6">
        <div class="dashboard-widget">
            <span class="dashboard-widget__icon"><i class="fas fa-user"></i></span>
            <div class="dashboard-widget__content">
                <h6 class="dashboard-widget__number">3,621</h6>
                <span class="dashboard-widget__text">Total User</span>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-xs-6">
        <div class="dashboard-widget">
            <span class="dashboard-widget__icon"><i class="fas fa-user"></i></span>
            <div class="dashboard-widget__content">
                <h6 class="dashboard-widget__number">6,435</h6>
                <span class="dashboard-widget__text">Total User</span>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-xs-6">
        <div class="dashboard-widget">
            <span class="dashboard-widget__icon"><i class="fas fa-user"></i></span>
            <div class="dashboard-widget__content">
                <h6 class="dashboard-widget__number">6,542</h6>
                <span class="dashboard-widget__text">Total User</span>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-xs-6">
        <div class="dashboard-widget">
            <span class="dashboard-widget__icon"><i class="fas fa-user"></i></span>
            <div class="dashboard-widget__content">
                <h6 class="dashboard-widget__number">9,412</h6>
                <span class="dashboard-widget__text">Total User</span>
            </div>
        </div>
    </div>
</div>