<!-- =================== Working Process Section Start ========================== -->
<section class="working-process padding-b-60">
    <img src="assets/images/shapes/work-process-vector.png" alt="" class="working-process__shape d-lg-block d-none">
    <div class="container container-two">
        <div class="row section-heading style-left max-w-unset">
            <div class="col-lg-6 pe-xl-5">
                <span class="section-heading__subtitle">
                    <span class="text-gradient fw-semibold">Work Process</span>
                </span>
                <h2 class="section-heading__title">Building a Legacy through Real Estate</h2>
            </div>
            <div class="col-lg-6">
                <p class="section-heading__desc font-18">Real estate is a lucrative ind involves the buying selling and Real estate a is a lucrative indinvolves buyingrep pertiese compasses sidential eproperties. It encompasses residential lucrative ind involves the buying selling and Real estate lucrative ind involves the buying</p>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-lg-6 pe-lg-5 d-lg-block d-none">
                <div class="working-process__thumb rounded overflow-hidden">
                    <img src="assets/images/thumbs/working-process-img.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                @@include('../partials/_working-process-item.html', {
                    'number': '01',
                    'title': 'Home Staging'
                })
                @@include('../partials/_working-process-item.html', {
                    'number': '02',
                    'title': 'Property Management'
                })
                @@include('../partials/_working-process-item.html', {
                    'number': '03',
                    'title': 'Property Appraisal'
                })
                @@include('../partials/_working-process-item.html', {
                    'number': '04',
                    'title': 'Rental Property'
                })
            </div>
        </div>
    </div>
</section>
<!-- =================== Working Process Section End ========================== -->